{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Signin{% endblock %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/account/general.css' %}" />

{% endblock %}

{% block content %}

<div class="mainWrapperGeneral">
    <div style="color: white;" class="generalContainer">
        <h4 style="text-align: center;">Signin</h4>
        {% if process == "connect" %}
        <p>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</p>

        <p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
        {% else %}
        <p>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</p>

        <p>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
        {% endif %}

        <form method="post">
          {% csrf_token %}
          <button type="submit">{% trans "Continue" %}</button>
        </form>
    </div>
</div>
{% endblock %}