{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Login Cancelled{% endblock %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/account/general.css' %}" />

{% endblock %}

{% block content %}

<div class="mainWrapperGeneral">
    <div style="color: white;" class="generalContainer">
        <h4 style="text-align: center;">Login Cancelled</h4>
        
        {% url 'account_login' as login_url %}

        <p>{% blocktrans %}You decided to cancel logging in to our site using one of your existing accounts. If this was a mistake, please proceed to <a href="{{login_url}}">sign in</a>.{% endblocktrans %}</p>
    </div>
</div>
{% endblock %}