{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block title %}Password Reset{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/account/logout.css' %}">
{% endblock %}

{% block content %}
<div class="mainWrapperLogout">
    <div style="color: white; width: 35vw;" class="logoutContainer">
      <h4>Password Reset</h4>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
</div>
</div>
    {% endblock %}
