{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Set Password{% endblock %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/account/general.css' %}" />

{% endblock %}

{% block content %}

<div class="mainWrapperGeneral">
    <div style="color: white;" class="generalContainer">
        <h4 style="text-align: center;">Set Password</h4>
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-sm btn-primary my-2" type="submit" name="action" value="{% trans 'Set Password' %}"/>
        </form>
    </div>
</div>
{% endblock %}
