{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/account/logout.css' %}">
{% endblock %}

{% block content %}
<div class="mainWrapperLogout">
    <div style="color: white; width: 35vw;" class="logoutContainer">
      <h4>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h4>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-sm btn-primary my-2" type="submit" name="action" value="{% trans 'Change Password' %}"/>
        </form>
    {% endif %}

    </div>
</div>
{% endblock %}
