{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block title %}Signup{% endblock %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/account/signup.css' %}" />
<link rel="stylesheet" href="{% static 'css/account/googlebtn.css' %}" />
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock %}

{% block content %}



<div class="mainWrapperSignup">

  <div style="color: white;" class="signupContainer">

    <h4 style="text-align: center;">Signup to Prometeo</h4>
    <div style="display: flex; justify-content: center; margin: 10px;">
      <a href='{% provider_login_url "google" %}'>
        <div class="google-btn">
          <div class="google-icon-wrapper">
            <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
          </div>
          <p class="btn-text"><b>Sign up with google</b></p>
        </div>
      </a>
    </div>

<!-- {% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="signup" %}

  </ul>

</div>

{% endif %} -->

  <form class="signup container mr-auto ml-auto" id="signup_form" method="post" action="{% url 'account_signup' %}" autocomplete="off">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <!-- <div class="g-recaptcha" data-sitekey="6LdYSi4eAAAAALZ-CL3IAvcOcmD_IR3Kr_RUpiyU"></div> -->
    <button class="btn btn-sm btn-primary my-2" type="submit">Sign Up &raquo;</button>
    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  </form>

</div>

</div>

{% endblock %}

{% block script %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
