{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block title %}Signup{% endblock %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/account/signup.css' %}" />

{% endblock %}

{% block content %}



<div class="mainWrapperSignup">

  <div style="color: white;" class="signupContainer">

    <h4 style="text-align: center;">Signup to Prometeo</h4>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="signup" %}

  </ul>

</div>

{% endif %}

  <form class="signup container mr-auto ml-auto" id="signup_form" method="post" action="{% url 'account_signup' %}" autocomplete="off">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-sm btn-primary my-2" type="submit">Sign Up &raquo;</button>
    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  </form>

</div>

</div>

{% endblock %}
