{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Sign Up Closed{% endblock %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/account/general.css' %}" />

{% endblock %}

{% block content %}

<div class="mainWrapperGeneral">
    <div style="color: white;" class="generalContainer">
        <h4 style="text-align: center;">Sign Up Closed</h4>
        <p style="text-align: center;">We are sorry, but the sign up is currently closed.</p>
    </div>
</div>
{% endblock %}