{% extends "base.html" %} 
{% load static %} 
{% load i18n %} 
{% block title %}Verify E-mail Address{% endblock %} 

{% block style %}
<link rel="stylesheet" href="{% static 'css/account/general.css' %}">
{% endblock %}

{% block content %}
<div class="mainWrapperGeneral">
  <div style="color: white; width: 90vw;" class="generalContainer">
    <h4 style="text-align: center">Verify Your E-mail Address</h4>
    <p>
      {% blocktrans %}We have sent an e-mail to you for verification. Follow the
      link provided to finalize the signup process. If you do not see the
      verification e-mail in your main inbox, check your spam folder. Please
      contact us if you do not receive the verification e-mail within a few
      minutes.{% endblocktrans %}
    </p>
  </div>
</div>
{% endblock %}
