body {
  background-image: url("../img/technicaleventsbg.png");
  background-attachment: fixed;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
footer {
  position: absolute;
}

.designation {
  font-size: 15px;
}

.event-card {
  width: 140%;
  color: white;
  background-color: #23202073 !important;
  border-color: white;
  border-radius: 4px;
  border-width: 1px;
}

.title-heading {
  margin-top: 5px;
  margin-bottom: 5px;
}

.title {
  color: white;
  text-align: center;
  position: relative;
  left: 18%;
}

.title-subheading {
  margin-bottom: 0px;
}

.card-body{
  max-width: 90vw;
}

.nav-tabs .nav-link.active {
  color: white;
  background-color: transparent;
  border-bottom-color: #1a79e1;
}

.nav-tabs .nav-link {
  background: 0 0;
  margin: 4px;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.nav-link {
  font-size: 15px;
  color: #47b2e4;
}

.nav-link:hover {
  color: white;
}

h4 {
  color: white;
}

.rulebook {
  background: transparent;
  border-color: #47b2e4;
  margin-top: 5%;
  width: 86%;
}

.register-btn {
  margin: 5px;
  width: 150px;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.btn:hover {
  background-color: #1acae1 !important;
  color: rgb(41, 39, 39);
}

.btn:focus {
  box-shadow: none !important;
}

.card-img-top {
  width: 90%;
  padding-right: 4%;
}

.description {
  margin: auto;
}

.info-horizontal .icon {
  float: left;
  margin-right: 2%;
  margin-bottom: 2%;
}

.info {
  max-width: 360px;
  padding: 70px 0 30px;
}

.info-horizontal .icon > i {
  font-size: 2.25rem;
  color: #97d7ff;
}

.contact-col {
  margin: 2%;
}

.contact-icons {
  position: relative;
  top: 5px;
  color: #97d7ff;
}

/* modal styles */

.submitted {
  background: transparent;
  border-color: #47b2e4;
  margin-top: 5%;
  width: 86%;
}

.submitted:disabled{
  background-color: transparent;
  border-color: #47b2e4;
}

.submit{
  background-color: transparent;
  border-color: #47b2e4;
}

.close{
  background-color: transparent;
}

.close:hover{
  background-color: transparent !important;
  color: white;
}

.tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 10px 30px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}

.tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
}

.modal-backdrop{
  z-index: -1000;
  background-color: #f3f5f7;
}

.modal-content{
  background-color: #18151f;
}

.modal-title{
  color: white;
}

/* .modal:before {
  vertical-align: middle;
}

.modal-dialog {
  vertical-align: middle;
} */

/* @media(max-width: 380px), (min-width:370px), (min-height:662px), (max-height:672px) {
  .modal{
    top: 200px;
  }
} */

.btn-close{
  background-color: white;
}

.input{
  width: 100%;
}

/* .files input {
  background-color: #18151f;
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out;
  transition: outline-offset .15s ease-in-out;
  padding: 120px 0px 85px 35%;
  text-align: center !important;
  margin: 0 auto;
  width: 100% !important;
}
.files input:focus{     
outline: 2px dashed #92b0b3;  
outline-offset: -10px;
-webkit-transition: outline-offset .15s ease-in-out;
transition: outline-offset .15s ease-in-out;
}
.files{ 
position:relative
}
.files:after {  
pointer-events: none;
position: absolute;
top: 60px;
left: 0;
width: 50px;
right: 0;
height: 50px;
content: "";
background-image: url('../img/cloud-computing.png');
display: block;
margin: 0 auto;
background-size: 100%;
background-repeat: no-repeat;
}
.files:before {
position: absolute;
bottom: 10px;
left: 0;  pointer-events: none;
width: 100%;
right: 0;
height: 57px;
content: " or drag it here. ";
display: block;
margin: 0 auto;
color: #2ea591;
font-weight: 600;
text-transform: capitalize;
text-align: center;
} */

.drag-area{
border: 1.5px dashed #fff;
height: 100%;
width: 100%;
border-radius: 5px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.drag-area.active{
border: 1px solid #fff;
}
.drag-area .icon{
font-size: 50px;
color: #fff;
margin-top: 10px;
}
.drag-area header{
text-align: center;
padding: 0 5px;
font-size: 20px;
font-weight: 300;
color: #fff;
}
.drag-area span{
font-size: 15px;
font-weight: 300;
color: #fff;
margin: 10px 0 10px 0;
}
.drag-area button{
padding: 6px 15px;
font-size: 15px;
font-weight: 300;
border: none;
outline: none;
margin-bottom: 20px !important;
color: #fff;
border-radius: 5px;
cursor: pointer;
}
.drag-area img{
height: 100%;
width: 100%;
object-fit: cover;
border-radius: 5px;
}
/* .hideButton{
display: none;
} */

.browseButton{
text-align: center;
padding: 0 5px;
}

.resubmitText{
background-color: #18151f;
color: rgb(158, 158, 158);
text-align: center;
margin-bottom: 5px !important;
}

.changeButton {
display: inline-block;
background: rgba(83, 83, 83, 0.4) !important;
border-radius: 3px;
padding: 7px 20px;
margin: 0 5px 5px 0;
cursor: default;
user-select: none;
transition: background-color 0.3s;
}
.changeButton:hover {
background: rgba(83, 83, 83, 0.8) !important;
}

/* 
.modal-dialog {
min-height: calc(100vh - 60px);
display: flex;
flex-direction: column;
justify-content: flex-end;
overflow: auto;
}
@media(max-width: 768px) {
.modal-dialog {
min-height: calc(100vh - 20px);
display: flex;
flex-direction: column;
justify-content: flex-end;
overflow: auto;
}
} */

@media screen and (max-width: 992px) {
  .image {
    margin: auto;
    position: relative;
    left: 6%;
    padding-top: 20px;
  }

  .card-img-top {
    width: 82% !important;
  }

  .rulebook {
    width: 78%;
  }

  .title {
    left: -1%;
  }

  .event-card {
    position: relative;
    left: 6%;
  }

  .row {
    padding-bottom: 10%;
  }
}

@media screen and (max-width: 778px) {
  .event-card {
    width: 90%;
  }

  .title {
    left: 1%;
  }

  .card-img-top {
    height: 270px;
    width: 76% !important;
  }

  .rulebook {
    width: 73%;
  }

  .image {
    position: relative;
    left: 13%;
  }
}
