.mainWrapperLogin{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url("../../img/features_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
    width: 25vw;
    margin: 40px 20px;
    padding: 20px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}

@media(max-width:1400px){
  .loginContainer {
    width: 50vw;
  }
}
@media(max-width:800px){
  .loginContainer {
    width: 90vw;
  }
}

.loginContainer:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  margin: -20px;
}

input[type=email], input[type=password], input[type=text], input[type=radio] {
  margin: 5px 0px 15px 0px;
}


.socialaccount_ballot {
    margin: 10px auto;
    padding: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -32px;
  }
  .socialaccount_ballot ul {
    display: flex;
    /* list-style: none; */
  }
  .socialaccount_ballot ul li {
    list-style: none;
  }
  .socialaccount_ballot ul li a {
    text-decoration: none;
    margin: 10px;
    border-radius: 3px;
    color: white;
    padding: 5px 8px;
    background-color: #4285F4;
  }
