* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .mainDiv {
    background-color: #020624;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  #headingTag {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    /* padding-top: 40px; */
    color: white;
  }
  .teamContainer {
    padding: 50px 100px 0px 100px;
  }

  .card-grid {
    display: flex;
    flex-flow: wrap;
    width: 100%;
  }
  .team-card {
    box-shadow: 0px 7px 7px 2px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 15px auto;
    width: 250px;
    border-radius: 5px;
    /* height: 150px; */
  }
  .team-card:hover .social {
    cursor: pointer;
    opacity: 1;
    transform: rotateY(0deg) scale(1, 1);
  }
  .team-card:hover .img-area img {
    transform: scale(1.2);
  }
  .img-area {
    overflow: hidden;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .img-area img {
    width: 100%;
    height: 260px;
    transition: all 0.4s ease 0s;
  }

  .img-area .social {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: 0.5s;
    transform: rotateY(180deg) scale(0.5, 0.5);
  }

  .img-area .social ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    list-style: none;
  }
  .img-area .social ul li a {
    font-size: 1.4rem;
    padding: 5px 7px;
    text-align: center;
    margin: 0px 5px;
  }




  .facebook-icon {
    color: white;
  }
  .facebook-icon:hover {
    color: #4267B2;
    background-color: white;
    border-radius: 50%;
  }
  .instagram-icon {
    color: white;
  }
  .instagram-icon:hover {
    color: #bc2a8d;
    background-color: white;
    border-radius: 50%;
  }
  .github-icon {
    color: white;
  }
  .github-icon:hover {
    color: #171515;
    background-color: white;
    border-radius: 50%;
  }
  .linkedin-icon {
    color: white;
  }
  .linkedin-icon:hover {
    color: #2867B2;
    background-color: white;
    border-radius: 50%;
  }
  .img-text {
    padding: 15px;
    color: black;
    text-align: center;
  }
  .img-text h4 {
    margin: 0 0 5px;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .img-text h5 {
    font-size: 14px;
    color: #545154;
  }

  .section-header {
    position: relative;
    padding-bottom: 10px;
    margin: 40px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .section-header::before {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 5px;
    background: #f82249;
    bottom: 0;
    left: calc(50% - 25px);
  }
  .section-header h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
  }


  /* Media Queries */
  @media (max-width: 1250px) {
    .teamContainer {
      padding: 50px;
    }
  }
  @media (max-width: 1000px) {
    .img-area img {
      display: inline-block;
    }
    .card-grid {
      grid-template-columns: 50% 50%;
    }
    .teamContainer {
      padding: 25px;
    }
    .team-card {
      width: 90%;
    }
    .img-area .social {
      height: 15%;
      width: 100%;
      left: 0;
      top: 100%;
      transform: translateY(-100%);
      opacity: 1;
    }
    .team-card:hover .social {
      opacity: 1;
      transform: translateY(-100%);
    }
    .team-card:hover .img-area img {
      transform: scale(1);
    }
  }
  @media (max-width: 450px) {
    .img-area img {
      display: inline-block;
    }
    .card-grid {
      grid-template-columns: 100%;
    }
    .teamContainer {
      padding: 25px;
    }
    .img-area .social {
      height: 15%;
      width: 100%;
      left: 0;
      top: 100%;
      transform: translateY(-100%);
      opacity: 1;
    }
    .team-card:hover .social {
      opacity: 1;
      transform: translateY(-100%);
    }
    .team-card:hover .img-area img {
      transform: scale(1);
    }
  }