/*--------------------------------------------------------------
# Schedule Section
--------------------------------------------------------------*/
#main {
  position: relative;
}
/* Sections Header
--------------------------------*/
.section-header {
  position: relative;
  padding-bottom: 20px;
  margin: 40px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-header::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #f82249;
  bottom: 0;
  left: calc(50% - 25px);
}
.section-header h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

.section-with-bg {
  background: url("../img/schedule_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#schedule {
  padding: 60px 0 60px 0;
  position: relative;
}
#schedule .nav-tabs {
  text-align: center;
  margin: auto;
  display: block;
  border-bottom: 0;
  margin-bottom: 30px;
}
#schedule .nav-tabs li {
  display: inline-block;
  margin-bottom: 0;
}
#schedule .nav-tabs a {
  border: none;
  border-radius: 15px;
  font-weight: 600;
  background-color: #244863;
  color: #fff;
  padding: 10px 100px;
  margin: 10px;
}
#schedule .schedule-img {
  align-self: center;
  display: flex;
  justify-content: center;
}
@media (max-width: 991px) {
  #schedule .nav-tabs a {
    padding: 8px 60px;
  }
}
@media (max-width: 767px) {
  #schedule .nav-tabs a {
    padding: 8px 50px;
  }
}
@media (max-width: 480px) {
  #schedule .nav-tabs a {
    padding: 8px 30px;
  }
}
#schedule .nav-tabs a.active {
  background-color: #002050;
  border: 4px solid #09a9f9bf;
  color: #fff;
  box-shadow: 0 0 4px 2px #fff, 0 0 5px 3px #ff00cdc9, 0 0 14px 7px #00ffffbd;
}
#schedule .sub-heading {
  text-align: center;
  font-size: 18px;
  font-style: italic;
  margin: 0 auto 30px auto;
}
@media (min-width: 991px) {
  #schedule .sub-heading {
    width: 75%;
  }
}

@media (max-width: 767px) {
  #schedule .tab-pane {
    text-align: -webkit-center;
  }
  #schedule .schedule-item {
    width: 90%;
  }
  #schedule .schedule-img {
    display: flex;
    justify-content: center;
  }
  #schedule .schedule-data {
    text-align: center;
  }
}
#schedule .tab-pane {
  transition: ease-in-out 0.2s;
}
#schedule .schedule-item {
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #e1c3e9;
  background: #141415ba;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: background-color ease-in-out 0.3s;
}
#schedule .schedule-item:hover {
  background-color: #002050;
}
#schedule .schedule-item time {
  padding-bottom: 5px;
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
}
#schedule .schedule-item .speaker {
  border: 3px solid #2da2e5;
  border-radius: 5px;
  color: #fff;
  width: 170px;
  height: 170px;
  overflow: hidden;
  float: left;
  margin: 0 10px 10px 0;
}
#schedule .schedule-item .speaker img {
  height: 100%;
  width: 100%;
  transition: all ease-in-out 0.3s;
}
#schedule .schedule-item h4 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}
#schedule .schedule-item p {
  color: #fff;
  margin-bottom: 5px;
}
#schedule .schedule-item .description {
  font-size: 14px;
  color: #fff;
  margin-bottom: 0;
}
