.section-header h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center !important;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .section-header {
    position: relative;
    padding-bottom: 10px;
    margin: 10px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .dark {
    background: #110f16;
  }

  .bar { 
      margin: 15px auto 30px !important;
      width: 100px !important;
  }

  .postcard:hover .bar { 
      width: 200px !important;
      transition: width 0.2s !important;
  }

  .postcard .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;
  }
  .postcard .postcard__tagbox .tag__item {
    display: inline-block;
    background: rgba(83, 83, 83, 0.4);
    border-radius: 3px;
    padding: 10px 30px;
    margin: 0 5px 5px 0;
    cursor: default;
    user-select: none;
    transition: background-color 0.3s;
  }
  .postcard .postcard__tagbox .tag__item:hover {
    background: rgba(83, 83, 83, 0.8);
  }
  .postcard .postcard__tagbox .blue.play:hover {
    background: #0076bd;
  }