<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">

    <!-- START HEADER/BANNER -->
    
            <tbody><tr>
                <td align="center">
                    <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody><tr>
                            <td align="center" valign="top" background="https://raw.githubusercontent.com/Sahil1479/images/main/ca_mail_top.png" bgcolor="#66809b" style="background-size:cover; width:600px; background-repeat: no-repeat; background-position:top;height=" 400""="">
                                <table class="col-600" width="600" height="266" border="0" align="center" cellpadding="0" cellspacing="0">
    
                                    <tbody><tr>
                                        <td height="40"></td>
                                    </tr>
    
    
                                    <tr>
                                        <td height="50"></td>
                                    </tr>
                                </tbody></table>
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    
    
    <!-- END HEADER/BANNER -->
    
    
    <!-- START 3 BOX SHOWCASE -->
    
            <tr>
                <td align="center">
                    <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-left:20px; margin-right:20px; border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9;">
                        <tbody style="background: #ffffff"><tr>
                            <td height="35"></td>
                        </tr>
              <tr>
                <td align="center" style="border: none; line-height: 80px; color: #2c0e52; font-family: Verdana, Geneva, sans-serif; font-size: 35px; text-transform: uppercase; font-weight: bolder;">Hello, {{first_name}}!</td>
              </tr>
                        <tr>
                            <td align="center" style="font-family: 'Raleway', sans-serif; font-size:22px; font-weight: bold; color:#2a3a4b;">You are now Campus Ambassador</td>
                        </tr>
    
                        <tr>
                            <td height="20"></td>
                        </tr>
                <tr style="border: 3px solid white; color: #191919; margin: 10px auto;">
                  <td style="padding: 5px 8px; text-align: center; font-size: 25px">Referral Code</td>
                </tr>
                <tr>
                  <td height="10"></td>
                </tr>
                <tr style=" color: #ff0000; margin: 10px auto;">
                  <td style="padding: 5px 8px; text-align: center; font-size:22px">{{invite_referral}}</td>
                </tr>
    
                    </tbody></table>
                </td>
            </tr>
    
            <tr>
                <td align="center">
                    <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9; ">
                        <tbody style="background: #ffffff"><tr>
                            <td height="10"></td>
                        </tr>
                        <tr>
                            <td>
    
    
                                <table class="col3" width="183" border="0" align="left" cellpadding="0" cellspacing="0">
                                    <tbody><tr>
                                        <td height="30"></td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <table class="insider" width="133" border="0" align="center" cellpadding="0" cellspacing="0">
    
                                                <tbody><tr align="center" style="line-height:0px;">
                                                    <td>
                                                        <img style="display:block; line-height:0px; font-size:0px; border:0px;" src="https://github.com/Sahil1479/images/blob/main/share.png?raw=true" width="69" height="78" alt="icon">
                                                    </td>
                                                </tr>
    
    
                                                <tr>
                                                    <td height="15"></td>
                                                </tr>
    
    
                                                <tr align="center">
                                                    <td style="font-family: 'Raleway', Arial, sans-serif; font-size:14px; color:#2b3c4d; line-height:24px; font-weight: bold;">Share your referral ID with friends</td>
                                                </tr>
    
                                            </tbody></table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="30"></td>
                                    </tr>
                                </tbody></table>
    
    
    
    
    
                                <table width="1" height="20" border="0" cellpadding="0" cellspacing="0" align="left">
                                    <tbody><tr>
                                        <td height="20" style="font-size: 0;line-height: 0;border-collapse: collapse;">
                                            <p style="padding-left: 24px;">&nbsp;</p>
                                        </td>
                                    </tr>
                                </tbody></table>
    
    
    
                                <table class="col3" width="183" border="0" align="left" cellpadding="0" cellspacing="0">
                                    <tbody><tr>
                                        <td height="30"></td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <table class="insider" width="133" border="0" align="center" cellpadding="0" cellspacing="0">
    
                                                <tbody><tr align="center" style="line-height:0px;">
                                                    <td>
                                                        <img style="display:block; line-height:0px; font-size:0px; border:0px;" src="https://github.com/Sahil1479/images/blob/main/website.png?raw=true" width="69" height="78" alt="icon">
                                                    </td>
                                                </tr>
    
    
                                                <tr>
                                                    <td height="15"></td>
                                                </tr>
    
    
                                                <tr align="center">
                                                    <td style="font-family: 'Raleway', Arial, sans-serif; font-size:14px; color:#2b3c4d; line-height:24px; font-weight: bold;">Your friend will use your ID during registration</td>
                                                </tr>
    
    
    
                                            </tbody></table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="30"></td>
                                    </tr>
                                </tbody></table>
    
    
    
                                <table width="1" height="20" border="0" cellpadding="0" cellspacing="0" align="left">
                                    <tbody><tr>
                                        <td height="20" style="font-size: 0;line-height: 0;border-collapse: collapse;">
                                            <p style="padding-left: 24px;">&nbsp;</p>
                                        </td>
                                    </tr>
                                </tbody></table>
    
    
    
                                <table class="col3" width="183" border="0" align="right" cellpadding="0" cellspacing="0">
                                    <tbody><tr>
                                        <td height="30"></td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <table class="insider" width="133" border="0" align="center" cellpadding="0" cellspacing="0">
    
                                                <tbody><tr align="center" style="line-height:0px;">
                                                    <td>
                                                        <img style="display:block; line-height:0px; font-size:0px; border:0px;" src="https://github.com/Sahil1479/images/blob/main/giftbox.png?raw=true" width="69" height="78" alt="icon">
                                                    </td>
                                                </tr>
    
    
                                                <tr>
                                                    <td height="15"></td>
                                                </tr>
    
    
                                                <tr align="center">
                                                    <td style="font-family: 'Raleway', Arial, sans-serif; font-size:14px; color:#2b3c4d; line-height:24px; font-weight: bold;">After 25 referrals, you will be eligible for rewards</td>
                                                </tr>
    
                                            </tbody></table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="30"></td>
                                    </tr>
                                </tbody></table>
    
    
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    
                <tr>
                        <td height="25"></td>
            </tr>
    
    
    <!-- END 3 BOX SHOWCASE -->
    
    
    <!-- START WHAT WE DO -->
    
            <tr>
                <td align="center">
                    <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-left:20px; margin-right:20px;">
    
    
    
            <tbody><tr>
                <td align="center">
                    <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0" style=" border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9;">
    
    
    <!-- END WHAT WE DO -->
    
    
    
    <!-- START READY FOR NEW PROJECT -->
    
    
    <!-- END READY FOR NEW PROJECT -->
    
    
    <!-- START PRICING TABLE -->
    
    
    
    <!-- END PRICING TABLE -->
    
                            
                        
                    </tbody></table>