{% extends 'base.html' %} {% load static %} {% block title %}
Team
{% endblock %} {% block head_links %}
<!-- header links -->
{% endblock %} {% block style %}
<link href="{% static 'css/coordinator.css' %}" rel="stylesheet" />
<!-- <style>
  .mainDiv {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
      url("{% static 'img/team_bg.jpg' %}");
  }
</style> -->
<!-- import css files or write css code-->
{% endblock %} {% block content %}
<!-- write your code here -->
<!-- <div style="height: 80vh; width:100%; align-items: center;
justify-content: center; display:flex; font-family: 'Montserrat', sans-serif; color: white; background: linear-gradient(#111, #040720);">
    <h1>Our Team</h1>
</div> -->
<div class="mainDiv">
  <div style="padding-top: 40px;"></div>
  <!-- <h1 id="headingTag">Our team</h1> -->
  {% for data in ourTeam %}
  <div class="teamContainer">
    <div class="section-header" data-aos="fade-up">
      <h2>{{data.teamName}}</h2>
    </div>
    <div class="card-grid">
      {% for data in data.teamData %}
      <div class="team-card" data-aos="fade-up">
        <div class="img-area">
          <img
            src="{{data.image.url}}"
            alt=""
          />
          <div class="social">
            <ul class="list-inline">
              {% if data.github_link %}
              <li>
                <a class="github-icon" href="{{data.github_link}}" target="_blank"
                  ><i class="fab fa-github"></i
                ></a>
              </li>
              {% endif %}

              {% if data.linkedin_link %}
              <li>
                <a class="linkedin-icon" href="{{data.linkedin_link}}" target="_blank"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
              </li>
              {% endif %}

              {% if data.facebook_link %}
              <li>
                <a class="facebook-icon" href="{{data.facebook_link}}" target="_blank"
                  ><i class="fab fa-facebook"></i
                ></a>
              </li>
              {% endif %}

              {% if data.instagram_link %}
              <li>
                <a class="instagram-icon" href="{{data.instagram_link}}" target="_blank"
                  ><i class="fab fa-instagram"></i
                ></a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
        <div class="img-text">
          <h4>{{data.name}}</h4>
          <h5>{{data.email}}</h5>
          <h5>{{data.phoneNo}}</h5>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %} {% block scripts %}
<!-- import js files or write js code-->
{% endblock %}
