{% extends 'base.html' %} 
{% load static %} 
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
Create Team
{% endblock %} {% block head_links %}
<!-- header links -->
{% endblock %} {% block style %}
<!-- import css files or write css code-->
{% endblock %} {% block content %}
<!-- write your code here -->
<div
  style="
    height: 500px;
    width: 100%;
    background: rgb(4, 206, 179);
    align-items: center;
    justify-content: center;
    display: flex;
  "
>
  <h1>Create Team</h1>
  <p>{{event.name}}</p>
  <form action="/users/create_team/{{event.id}}/", method="post">
      {% csrf_token %}
      {{form|crispy}}
      <button type="submit" class="btn btn-primary btn-sm mx-2">Submit</button>
  </form>
</div>
{% endblock %} {% block scripts %}
<!-- import js files or write js code-->
{% endblock %}