{% extends 'template.html' %}
{% load static %}

{% block title %}
Events-{{type}}
{% endblock %}


{% block style %}
<!-- import css files or write css code-->
<link href="{% static 'css/events.css' %}" rel="stylesheet">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

{% endblock %}




{% block content %}

    {% if type == 'Live' %}

        <div class="liveeventwrapper">
            <div style="padding-top: 50px;"></div>
            <section id="live">
                <div class="section-header">
                    <h2>Live Events</h2>
                </div>
                <div class="container justify-content-center align-items-center" id="livecard" style="max-width: 750px;">
                    
                    <div class="event-card mb-3">
                        <!-- <span class="card-event-type-tag">tech</span> -->
                        <div class="row no-gutters" id="livecardrow">
                       
                            <div class="col-md-4  card-date">
                                <div class="card-date-head">Ends in</div>
                                <p class="card-date-num">30</p>
                                <p class="card-date-mon">Jan</p>
                            </div>
    
                            <div class="col-md-4 card-event-details">
                                <p class="card-event-name">Event details</p>
                                <p class="card-event-description">Technical|8:00PM</p>
                                
                            </div>
                            <div class="col-md-4 card-helper-links">
                                <div class="row card-buttons">
                                    <button class="btn-learn-more">View More</button>
                                </div>
                                <div class="row card-buttons">
                                    <button class="btn-learn-more">Registered</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </section>
            <section id="upcoming">
                <div class="section-header">
                    <h2>Upcoming Events</h2>
                </div>
                
            </section>
        </div>

    {% endif %}

{% endblock %}


{% block scripts %}
<script src="{% static 'js/main.js' %}"></script>
<script>
    AOS.init();
</script>
{% endblock %}
