{% extends 'template.html' %}

{% load i18n %}

{% load static %}



{% block title %}
{{event.name}}
{% endblock %}

{% block style %}
<link href="{% static 'css/event.css' %}" rel="stylesheet">
{% endblock %}

{% block head_links %}
<!-- header links -->
{% endblock %}


{% block content %}
<div
    style="height:100% ;margin:0px;top: 0px;left: 0px; width: 100%; background-color: black; opacity: 0.75; display: flex;align-items: center; justify-content: center;position: fixed;z-index: 0;">
</div>

<div class="event-container container p-2 mb-5 shadow"
    style="background-color: transparent; width: fit-content;position: relative;top: 10vh;">
    <div class="row">
        <!-- <div class="round-border"> -->
        <h2 class="title title-heading">{{ event.name }}</h2>
        <div>
            {% if event.host %}
            <h4 class="title" style="text-transform: capitalize; margin-bottom:15px"> by
                {% if event.sponsor_website %}
                <a href="{{ event.sponsor_website }}">
                    <img src="{{ event.sponsor_image1.url }}" alt="Sponser" height="60">
                </a>
                {% else %}
                <img src="{{ event.sponsor_image1.url }}" alt="Sponser" height="60">
                {% endif %}
            </h4>
            {% else %}
            <div>
                {% if event.type == 'talk' %}
                <h4 class="title" style="text-transform: capitalize; margin-bottom:15px"> By {{ event.speaker }}
                    {% if event.designation %}
                    <span class="designation">{{event.designation}}</span>
                    {% endif %}
                </h4>
                {% else %}
                <h4 class="title" style="text-transform: capitalize; margin-bottom:15px">{{ event.type }}</h4>
                {% endif %}
            </div>
            {% endif %}
        </div>

        <!-- <div class="row"></div> -->
        <div class="col-lg-4 col-md-8 col-sm-12 ml-auto mr-auto image" style="padding-bottom: 10%;">
            <img class="card-img-top" src="{{ event.image.url }}" height="360" width="360" alt="">
            {% if event.rulebook %}
            <a href="{{ event.rulebook.url }}" target="_blank"><button class="rulebook btn btn-primary"
                    type="button">Rulebook</button></a>
            {% endif %}
        </div>
        <div class="col-lg-6 col-md-8 col-sm-12 ml-auto mr-auto" style="padding-bottom: 5%;">
            <div class="event-card card text-center" style="background-color: transparent">
                <div class="card-header ">
                    <ul class="nav nav-tabs justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0)"
                                onclick="openTab(event, 'details')">Details</a>
                        </li>

                        {% if user.is_authenticated %}
                        {% if event in user.extendeduser.events.all %}
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link" data-toggle="modal"
                                data-target="#registeredModal">
                                Already Registered
                            </a>
                        </li>
                        {% elif not event.registration_open %}
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link" data-toggle="modal"
                                data-target="#closedModal">
                                Reg. Not Opened
                            </a>
                        </li>
                        {% elif event.external_link %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ event.external_link }}">Register</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)"
                                onclick="openTab(event, 'register')">Register</a>
                        </li>
                        {% endif %}

                        {% elif not event.registration_open %}
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link" data-toggle="modal"
                                data-target="#closedModal">
                                Registration Closed
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link"
                                href="/accounts/login?next={% url 'events:event' event.type event.pk %}">Login To
                                Register</a>
                        </li>
                        {% endif %}

                        {% if user.is_authenticated and event.participation_type == "team" %}
                        {% for team in user.teams.all %}
                        {% if event == team.event and user == team.leader %}
                        <li class="nav-item">
                            <a class="nav-link" href="/users/edit_team/{{team.id}}">Edit Team</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% endif %}

                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)" data-toggle="modal"
                                onclick="openTab(event, 'contact')">Contact
                                Us</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body" id="details" style="display:block; text-align:left">
                    <div class="row" style="margin-left:5%;">
                        <div class="col-lg-6 col-md-6">
                            {% if event.prize and event.type != 'talk' %}
                            <div class="info info-horizontal"
                                style="padding-top:0px; padding-bottom:0px; margin-bottom: 50px;">
                                <div class="icon icon-rose">
                                    <i class="material-icons">monetization_on</i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">{{ event.prize }}</h4>
                                </div>

                            </div>
                            {% endif %}
                            <div class="info info-horizontal event-type" style="padding-top:0px; padding-bottom:0px">
                                {% if event.type != 'talk' %}
                                <div>
                                    <div class="icon icon-rose">
                                        {% if event.participation_type == 'team' %}
                                        <i class="material-icons">account_circle</i>
                                        {% else %}
                                        <i class="material-icons">group_work</i>
                                        {% endif %}

                                    </div>
                                    {% if not event.participation_type == 'none' %}
                                    <div class="description">
                                        <h4 class="info-title">Event Type</h4>
                                        <p>
                                            {% if event.participation_type == 'team' %}
                                            Team Event (Team Size: {{ event.min_team_size }}-{{ event.max_team_size }})
                                            {% else %}
                                            Individual Event
                                            {% endif %}
                                        </p>
                                    </div>
                                    {% endif %}
                                </div>
                                {% endif %}
                            </div>
                            <!-- <h4 class="card-title">Event Type</h4>
                    <p class="card-text">
                        {% if event.participation_type == 'team' %}
                        Team Event (Team Size: {{ event.min_team_size }}-{{ event.max_team_size }})
                        {% else %}
                        Individual Event 
                        {% endif %} 
                    </p> -->

                            <div class="info info-horizontal" style="padding-top:0px; padding-bottom:0px">
                                <div class="icon icon-rose">
                                    <i class="material-icons">date_range</i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Date</h4>
                                    <p>
                                        {% if event.date %}
                                        {{ event.date }}
                                        {% else %}
                                        COMING SOON
                                        {% endif %}
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <!-- <h4 class="card-title">Date</h4>
                    <p class="card-text">{{ event.date }}</p> -->
                            {% if event.time %}
                            <div class="info info-horizontal" style="padding-top:0px; padding-bottom:0px">
                                <div class="icon icon-rose">
                                    <i class="material-icons">access_time</i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Time</h4>
                                    <p>{{ event.time }}</p>

                                </div>
                            </div>
                            {% endif %}
                            {% if event.venue %}
                            <div class="info info-horizontal" style="padding-top:0px; padding-bottom:0px">
                                <div class="icon icon-rose">
                                    <i class="material-icons">my_location</i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Venue</h4>
                                    <p>{{ event.venue }}</p>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    {% if event.rulebook_text %}

                    <div class="row" style="margin-bottom: 30px;">
                        <div class="col-lg-11 ml-auto mr-auto">
                            {{ event.rulebook_text|safe }}
                        </div>
                    </div>
                    {% elif event.description %}
                    <div class="row" style="margin-bottom: 10px">
                        <div class="description col-lg-11 ml-auto mr-auto">
                            <h4 class="card-title">
                                Description
                            </h4>
                            <p class="card-text">
                                {{ event.description }}
                            </p>
                        </div>
                    </div>

                    {% endif %}


                </div>
                <div class="card-body" id="register" style="display:none;">
                    {% if event.participation_type == 'individual' %}
                    <p class="card-text">This is an individual event</p>
                    <a href="/users/register_indi_event/{{event.id}}" class="btn btn-outline-light px-3">Register</a>
                    {% else %}
                    <p class="card-text">This is a team event ({{ event.min_team_size }} to {{ event.max_team_size }}
                        members). Create or join a team:</p>
                    <a href="/users/create_team/{{event.id}}" class="btn btn-outline-light px-3">Create Team</a>
                    <a href="/users/join_team" class="btn btn-outline-light px-3 mx-2">Join a Team</a>
                    {% endif %}
                </div>
                <div class="card-body tab-content" id="contact" style="display:none; text-align:left">
                    <div class="row">
                        {% for contact in event.contacts_set.all %}
                        <div class="col contact-col">
                            <h3>{{ contact.name }}</h3>
                            <h5><i class="material-icons contact-icons">phone</i> +91 {{ contact.phone }}</h5>
                            <h5>
                                <i class="material-icons contact-icons">email</i>
                                {{ contact.email }}
                            </h5>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
        <!-- </div> -->
    </div>
</div>
</div>
</div>

</div>

{% endblock %}