{% extends 'template.html' %}
{% load static %}

{% block title %}
Events-{{type}}
{% endblock %}


{% block style %}
<!-- import css files or write css code-->
<link href="{% static 'css/events.css' %}" rel="stylesheet">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

{% endblock %}




{% block content %}

    {% if type == 'Live' %}

        <div class="liveeventwrapper">
            <div style="padding-top: 50px;"></div>
            <section id="live">
                <div class="section-header">
                    <h2>Live Events</h2>
                </div>
                <div class="container justify-content-center align-items-center"  style="max-width: 750px;">
                    {{liveevents.count}}
                    {% for event in liveevents %}
                        
                        {% if event.time >= present_time and event.event_started %}
                        <div class="customcard">
                            <div class="row no-gutters justify-content-center livecard " id="livecard-{{event.type}}">
                                <div class="row cardface fcard">
                                    <div class="col-md-4  card-date">
                                        <div class="card-date-head">Ends on</div>
                                        <p class="card-date-num">{{event.date|date:"d"}}</p>
                                        <p class="card-date-mon">{{event.date|date:"M"}}</p>
                                    </div>
            
                                    <div class="col-md-4 card-event-details">
                                        <p class="card-event-name">{{event.name.capitalize}}</p>
                                        <p class="card-event-description">{{event.type.capitalize}} | {{event.time}}</p>
                                        
                                    </div>
                                    <div class="col-md-4 card-helper-links">
                                        <div class="card-helper">
                                            <div class="row card-buttons justify-content-center" >
                                                <button class="btn-learn-more">View More</button>
                                            </div>
                                            <div class="row card-buttons justify-content-center">
                                                <button class="btn-learn-more">Registered</button>
                                            </div>
                                        </div>
                                    
                                    </div>
                   
                                </div>

                                <div class="row cardface bcard bcard-{{event.type}}">
                                    <div class="col-md-4  card-date">
                                        <div class="card-date-head">Ends on</div>
                                        <p class="card-date-num">{{event.date|date:"d"}}</p>
                                        <p class="card-date-mon">{{event.date|date:"M"}}</p>
                                    </div>
            
                                    <div class="col-md-4 card-event-details">
                                        <p class="card-event-name">{{event.name.capitalize}}</p>
                                        <p class="card-event-description">{{event.type.capitalize}} | {{event.time}}</p>
                                        
                                    </div>
                                    <div class="col-md-4 card-helper-links">
                                        <div class="card-helper">
                                            <div class="row card-buttons justify-content-center" >
                                                <button class="btn-learn-more">View More</button>
                                            </div>
                                            <div class="row card-buttons justify-content-center">
                                                <button class="btn-learn-more">Registered</button>
                                            </div>
                                        </div>
                                    
                                    </div>
                   
                                </div>
                                              
                             </div>
                        </div>
                            
                        {% endif %}
                    {% endfor %}
                        <!-- <span class="card-event-type-tag">tech</span> -->
                        
                    
                        <!-- <div class="row no-gutters justify-content-center" id="livecardrow">
                       
                            <div class="col-md-4  card-date">
                                <div class="card-date-head">Ends in</div>
                                <p class="card-date-num">30</p>
                                <p class="card-date-mon">Jan</p>
                            </div>
    
                            <div class="col-md-4 card-event-details">
                                <p class="card-event-name">Event details</p>
                                <p class="card-event-description">Technical| 8:00PM</p>
                                
                            </div>
                            <div class="col-md-4 card-helper-links">
                                <div class="card-helper">
                                    <div class="row card-buttons justify-content-center" >
                                        <button class="btn-learn-more">View More</button>
                                    </div>
                                    <div class="row card-buttons justify-content-center">
                                        <button class="btn-learn-more">Registered</button>
                                    </div>
                                </div>
                               
                            </div>
                            
                        </div>
                     -->
                    
                </div>
            </section>
            <!-- <section id="upcoming">
                <div class="section-header">
                    <h2>Upcoming Events</h2>
                </div>
                
            </section> -->
        </div>

    {% endif %}

{% endblock %}


{% block scripts %}

{% endblock %}
