{% extends 'template.html' %}
{% load static %}

{% block title %}
{{type|capfirst}} Events
{% endblock %}


{% block style %}
<link
  rel="stylesheet"
  href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
/>

<link href="{% static 'css/exhibitions.css' %}" rel="stylesheet">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="dark">
	<div class="container py-4">
        <div style="margin-top: 20px; margin-bottom: 30px; width:100%; background-attachment: fixed;align-items: center; 
        justify-content: center; display:flex">
            <div class="section-header">
                <h2>Exhibitions</h2>
            </div>
        </div>
        <!-- {% if brochure %}
            <p data-aos="fade-in" data-aos-delay="500" data-aos-duration="500" data-aos-once = "true" style="font-size: x-large; color: white; text-align: center; margin-bottom: 40px"><a href="{{brochure.file.url}}" style="color: #2b2d2e;
                font-size: medium;
                background: #ffffff;
                padding: 10px;
                border-radius: 5px;
                border: 3px solid #47b2e4;"><i class="fas fa-download"></i> {{brochure.name}}</a></p>
        {% endif %} -->
        {% if events.count == 0 %}
            <p data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000" data-aos-once = "true" style="font-size: xx-large; color: white; text-align: center;">Coming Soon!</p>
        {% endif %}
        {% for event in events %}
        <article class="postcard dark blue" data-aos="fade-up">
            <div class="postcard__text">
                <!-- {% if event.prize %}
                    <div class="postcard__subtitle small">
                        <time datetime="2020-05-25 12:00:00">
                            {{ event.prize }}
                        </time>
                    </div>
                {% endif %} -->
                <!-- <div class="postcard__bar"></div> -->
                <div class="postcard__preview-txt">Exhibitions provide us with amazing learning experiences.
                    The ideas in the exhibition help us to understand not only
                    the existng innovations and art but also leave us with an
                    impression of what lies ahead of us. The Exhibitions at
                    PROMETEO '22 is here to bring forth a similar experience
                    for you. The face-to-face approach and physical presence
                    are the essences of any exhibition. However, due to the
                    current Covid scenario, keeping everyone's safety in mind;
                    We'll be hosting a Virtual Exhibition. We hope to bring you
                    the best experience and learnings.</div>
                    <br>
                    <h1 class="postcard__title blue">What are we exhibiting?</h1>
                    <ul>
                        <li>INNOVATIVE PRODUCTS</li>
                        <li>TECH BY DRDO</li>
                        <li>TECH BY IIT JODHPUR</li>
                        <li>INDIAN ART & CULTURE</li>
                        <li>IIT FRATERNITY</li>
                        <li>SUSTAINABILITY</li>
                    </ul>

                <ul class="postcard__tagbox">
                    {% if event.date|date:"N j, Y" == "Jan. 1, 2023" %}
                    <li class="tag__item"><i class="fas fa-calendar-alt mr-2"></i> Coming Soon</li>
                    {% else %}
                    <li class="tag__item"><i class="fas fa-calendar-alt mr-2"></i>  {{ event.date }} <b>|</b> {{event.time}}</li>
                    {% endif %}
                </ul>
            </div>
        </article>
        {% endfor %}
</section>
<section id="gallery">

    <div class="container" data-aos="fade-up">
      <div class="section-title" data-aos="fade-up">
        <h2>Gallery</h2>
      </div>
    </div>

    <div class="gallery-slider swiper">
      <div class="swiper-wrapper align-items-center">
        {% for slide in exhibitgallery %}
          <div class="swiper-slide">
            <a href="{{ slide.file.url }}" class="gallery-lightbox">
                
                <img src="{{ slide.file.url}}" >                
            </a>
            <!-- <div class="swiper-slide-overlay"></div> -->
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
   
    </div>

  </section>

{% endblock %}
{% block scripts %}
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

{% endblock %}