{% extends 'template.html' %}
{% load static %}

{% block title %}
{{type|capfirst}} Events
{% endblock %}


{% block style %}
<link
  rel="stylesheet"
  href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
/>

<link href="{% static 'css/exhibitions.css' %}" rel="stylesheet">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link href="https://cdn.rawgit.com/dimsemenov/Magnific-Popup/master/dist/magnific-popup.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Overpass:100,300,700" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="dark content">
	<div class="container py-4">
        <div style="margin-top: 20px; margin-bottom: 30px; width:100%; background-attachment: fixed;align-items: center; 
        justify-content: center; display:flex">
            <div class="section-header">
                <h2>Exhibitions</h2>
            </div>
        </div>
        <!-- {% if brochure %}
            <p data-aos="fade-in" data-aos-delay="500" data-aos-duration="500" data-aos-once = "true" style="font-size: x-large; color: white; text-align: center; margin-bottom: 40px"><a href="{{brochure.file.url}}" style="color: #2b2d2e;
                font-size: medium;
                background: #ffffff;
                padding: 10px;
                border-radius: 5px;
                border: 3px solid #47b2e4;"><i class="fas fa-download"></i> {{brochure.name}}</a></p>
        {% endif %} -->
        {% if events.count == 0 %}
            <p data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000" data-aos-once = "true" style="font-size: xx-large; color: white; text-align: center;">Coming Soon!</p>
        {% endif %}
        {% for event in events %}
        <article class="postcard dark blue" data-aos="fade-up">
            <div class="postcard__text">
                <div class="postcard__preview-txt">{{event.poster_description|safe}}</div>
                <ul class="postcard__tagbox">
                    {% if event.date|date:"N j, Y" == "Jan. 1, 2023" %}
                    <li class="tag__item"><i class="fas fa-calendar-alt mr-2"></i> Coming Soon</li>
                    {% else %}
                    <li class="tag__item"><i class="fas fa-calendar-alt mr-2"></i>  {{ event.date }} <b>|</b> {{event.time}}</li>
                    {% endif %}
                    {% if event.meet_link %}
                            <a href="{{ event.meet_link }}">
                                <li class="tag__item play blue" style="cursor: pointer;"><i class="fas fa-video mr-2"></i> Join</li>
                            </a>
                            {% endif %}
                            {% if event.webx_link %}
                            <a href="{{ event.webx_link }}">
                                <li class="tag__item play blue" style="cursor: pointer;"><i class="fas fa-video mr-2"></i> Join</li>
                            </a>
                            {% endif %}
                            {% if event.youtube_link %}
                            <a href="{{ event.youtube_link }}">
                                <li class="tag__item play blue" style="cursor: pointer;"><i class="fas fa-video mr-2"></i> Join</li>
                            </a>
                            {% endif %}
                </ul>
            </div>
        </article>
        {% endfor %}
</section>
{% if exhibitgallery.count == 0 %}

{% else %}
<section id="gallery">

    <div class="container" data-aos="fade-up">
      <div class="section-title" data-aos="fade-up">
        <h2>Gallery</h2>
      </div>
    </div>

    <div class="video-gallery">
      {% for item in exhibitgallery %}
        {% if item.type == 'video' %}
          <div class="gallery-item " data-aos="fade-up">
            {% if item.image %}
            <img src="{{ item.image.url }}" alt="{{item.name}}"/>
            {% else %}
            <img src="https://raw.githubusercontent.com/Sahil1479/images/main/ca_mail_top.png" alt="{{item.name}}"/>
            {% endif %}
            <div class="gallery-item-caption">
              <!--<div>-->
                <h2>{{item.name}}</h2>
                <p>{{item.description}}</p>
              <!--</div>-->
              <a class="vimeo-popup" href="{{ item.video }}">
              </a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="image-gallery video-gallery">
      {% for item in exhibitgallery %}
        {% if item.type == 'image' %}
          <div class="gallery-item " data-aos="fade-up">
            <img src="{{ item.image.url }}" alt="{{item.name}}"/>
            <div class="gallery-item-caption">
              <!--<div>-->
                <h2>{{item.name}}</h2>
                <p>{{item.description}}</p>
              <!--</div>-->
              <a class="vimeo-popup" href="{{ item.image.url }}"></a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

  </section>
{% endif %}
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/dimsemenov/Magnific-Popup/master/dist/jquery.magnific-popup.js"></script>
<script>
  $(document).ready(function () {
    $(".video-gallery").magnificPopup({
      delegate: "a",
      type: "iframe",
    });
    $(".image-gallery").magnificPopup({
      delegate: "a",
      type: "image",
    });
  });
 
  
</script>
{% endblock %}