{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block head_links %}
{% endblock %}

{% block style %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
<link href="{% static 'css/particle.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div id="particles-js"></div>
    <div id="stars1"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <div class="brand">
            <h1 style="letter-spacing:3px; font-family: 'Orbitron', sans-serif;" data-aos="zoom-in" data-aos-duration="1000" data-aos-once="true">PROMETEO</h1>

            <div>
              <h3 data-aos="fade-left" data-aos-delay="1000" data-aos-duration="500" data-aos-once = "true">INNOVATE</h3>
              <h3 class="sep-bar" data-aos="zoom-in" data-aos-duration="1000" data-aos-once="true" style="color: #f9c33be6;">&nbsp|&nbsp</h3>
              <h3 data-aos="fade-down" data-aos-delay="1000" data-aos-duration="500" data-aos-once = "true">IMPLEMENT</h3>
              <h3 class="sep-bar" data-aos="zoom-in" data-aos-duration="1000" data-aos-once="true" style="color: #f9c33be6;">&nbsp|&nbsp</h3 class="sep-bar">
              <h3 data-aos="fade-right" data-aos-delay="1000" data-aos-duration="500" data-aos-once = "true">IMPROVE</h3>
            </div>
            <div class="hero-video">
              <h3 data-aos="fade-down" data-aos-delay="1500" data-aos-duration="500" data-aos-once="true"><i class="fas fa-map-marker-alt" style="color: #ff4b4b;"></i> IIT JODHPUR</h3>
              <h3 data-aos="fade-down" data-aos-delay="1500" data-aos-duration="500" data-aos-once="true" style="margin-left: 30px; margin-right:20px"> <i class="far fa-calendar-alt" style="color: #00c0ff; margin-right: 5px"></i> 26th Feb - 1st Mar</h3>
            </div>
            <div class="hero-video">
              <a href="https://youtu.be/8lOSuBvGfjo" class="glightbox btn-watch-video"><h3 data-aos="fade-up" data-aos-delay="1500" data-aos-duration="500" data-aos-once="true"><i class="bi bi-play-circle"></i><span>Theme Reveal</span></h3></a>
            </div>
          </div>
          <div class="countdown d-flex" id="countdown" data-count="2022/2/26">
            <div>
              <h3>%d</h3>
              <h4>Days</h4>
            </div>
            <div>
              <h3>%h</h3>
              <h4>Hours</h4>
            </div>
            <div>
              <h3>%m</h3>
              <h4>Minutes</h4>
            </div>
            <div>
              <h3>%s</h3>
              <h4>Seconds</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="{% static 'img/hero-img.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Number of Events Section ======= -->
    <section id="numberofevents" class="numberofevents">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-lg-11">
          <div class="row justify-content-end">

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
              <div class="count-box py-5">
                <i class="bi bi-code-square"></i>
                <span data-purecounter-start="0" data-purecounter-end="65" class="purecounter">0</span>
                <p>Competitions</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
              <div class="count-box py-5">
                <i class="bi bi-easel2"></i>
                <span data-purecounter-start="0" data-purecounter-end="85" class="purecounter">0</span>
                <p>Talks</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
              <div class="count-box pb-5 pt-0 pt-lg-5">
                <i class="bi bi-boxes"></i>
                <span data-purecounter-start="0" data-purecounter-end="27" class="purecounter">0</span>
                <p>Workshops</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
              <div class="count-box pb-5 pt-0 pt-lg-5">
                <i class="bi bi-people"></i>
                <span data-purecounter-start="0" data-purecounter-end="22" class="purecounter">0</span>
                <p>Exhibitions</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- End Number of Events Section -->

    <!-- ======= About Us Section ======= -->
    <div class="homeWrapper">
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>INTRODUCTION</h2>
        </div>

        <div class="row " data-masonry='{"percentPosition": true }'>
          <div class="col-lg-6 d-flex flex-column justify-content-center p-5 " >

            <div class="icon-box">
              <p class="description" style="color: #fff;" ><b>Prometeo 2022</b> is the second edition of IIT Jodhpur's National Technical + Entrepreneurial Festival. Prometeo derives its name from the Greek word for forethinker, and celebrates disruptive technologies through talks, workshops, and competitions.<br> This year's theme for Prometeo 2022 is <b>'India in 2030-40-50'</b> with the objective to address the major existing challenges of our society, provide exposure of different technologies to build the new India by expanding the technical and economical orbit</p>
            </div>
            <a href="{% url 'home:theme' %}" class="btn-learn-more">Read More</a>

          </div>
          <div class="col-lg-6 video-box">
            <!-- <img src="{% static 'img/why-us.jpg" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a> -->
            <!-- <video src="{% static 'img/video1.mp4' %}" width="100%" height="100%" controls
                            poster="{% static 'img/videothumbnail.png' %}" style="vertical-align: middle;"></video> -->

                <!-- timeline -->
                <div  data-aos="fade-up">
                  <!-- <div class="section-title"  data-aos="fade-up">
                    <h2 id="themehead">Theme</h2>
                  </div> -->
                  <div class="row" data-aos="fade-up" data-aos-delay="300">
                     <!-- testing progress bar -->
                     <div class="process-wrapper">
                      <div id="progress-bar-container">
                        <ul >
                          <!-- <li class="step step01 active"><div class="step-inner">2030</div></li> -->
                          <li class="step step02"><div class="step-inner" style="color: #fff">2030</div></li>
                          <li class="step step03"><div class="step-inner" style="color: #fff">2040</div></li>
                          <li class="step step04"><div class="step-inner" style="color: #fff">2050</div></li>
                          <!-- <li class="step step03"><div class="step-inner">2050</div></li> -->
                        </ul>
                        
                        <div id="line">
                          <div id="line-progress"></div>
                        </div>
                      </div>
                      
                      <div id="progress-content-section">
                        <div class="section-content discovery active">
                          <!-- <h2>HOME SECTION</h2>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec neque justo, consequat non fermentum ac, tempor eu turpis. Proin nulla eros, placerat non ipsum ut, dapibus ullamcorper ex. Nulla in dapibus lorem. Suspendisse vitae velit ac ante consequat placerat ut sed eros. Nullam porttitor mattis mi, id fringilla ex consequat eu. Praesent pulvinar tincidunt leo et condimentum. Maecenas volutpat turpis at felis egestas malesuada. Phasellus sem odio, venenatis at ex a, lacinia suscipit orci.</p> -->
                          <div class="container" style="position: relative; left: 10%; ">
                            <div class="row justify-center">
                             
                                {% for theme in theme2030 %}
                                <div class="col col-md-4 col-lg-4 col-sm-6 justify-content-center" id="cardcontentcontainer">
                                <div class="card"  data-aos="zoom-in" data-aos-delay="1000" data-aos-duration="1000"  style=" width: 100px;background-color: transparent; border: none;">
                                  <img class="card-image-top"  src="{{theme.image.url}}">
                                  <p class="card-text" style="color: #fff">{% if theme.name is none %} {% else %} {{theme.name}} {% endif %}</p>
                                </div>
                              </div>
                                {% endfor %}
                              
                            </div>
                          </div>
                          
                        </div>
                        
                      
                        <div class="section-content creative">
                          <div class="container" style="position: relative; left: 10%;">
                            <div class="row justify-center">
                             
                                {% for theme in theme2040 %}
                                <div class="col col-md-4 col-lg-4 col-sm-6 justify-content-center " id="cardcontentcontainer" >
                                <div class="card"  data-aos="zoom-in" data-aos-delay="1000" data-aos-duration="1000"  style=" width: 100px;background-color: transparent;">
                                  <img class="card-image-top"  src="{{theme.image.url}}">
                                  <p class="card-text" style="color: #fff">{% if theme.name is none %} {% else %} {{theme.name}} {% endif %}</p>
                                </div>
                              </div>
                                {% endfor %}
                              
                            </div>
                          </div>
                        </div>
                        
                        <div class="section-content production">
                          <div class="container" style="position: relative; left: 10%;">
                            <div class="row justify-center">
                             
                                {% for theme in theme2050 %}
                                <div class="col col-md-4 col-lg-4 col-sm-6 justify-content-center " id="cardcontentcontainer" >
                                <div class="card"  data-aos="zoom-in" data-aos-delay="1000" data-aos-duration="1000"  style=" width: 100px;background-color: transparent;">
                                  <img class="card-image-top"  src="{{theme.image.url}}">
                                  <p class="card-text" style="color: #fff">{% if theme.name is none %} {% else %} {{theme.name}} {% endif %}</p>
                                </div>
                              </div>
                                {% endfor %}
                              
                            </div>
                          </div>
                        </div>
                                     
                        </div>
                      </div>
                      
                     <!-- test ends -->
                  </div>
                </div>
                <!-- timeline ended -->
          </div>

         
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Features Section ======= -->
    <!-- <section id="features" class="features">
      <div class="row">
        <section class="page">
          <div class="container">
            <div class="circle-carousel" data-speed="2000" data-autoplay="2500">
              <div class="slides">
                <div class="slide">
                  <h2>
                    Broadband Highways
                  </h2>
                </div>
                <div class="slide">
                  <h2>Universal Access to Mobile Connectivity</h2>
                </div>
                <div class="slide">
                  <h2>Public Internet Access Programme</h2>
                </div>
                <div class="slide">
                  <h2>
                    Reforming Government through Technology</h2>
                </div>
                <div class="slide">
                  <h2>Electronic delivery of services</h2>
                </div>
                <div class="slide">
                  <h2>Electronics Manufacturing</h2>
                </div>
                <div class="slide">
                  <h2>
                    Information for All
                  </h2>
                </div>
                <div class="slide">
                  <h2>IT for Jobs</h2>
                </div>
                <div class="slide">
                  <h2>
                    Early Harvest Programmes</h2>
                </div>
              </div>
              <div class="pagination">
                <div class="item">
                  <div class="dot">
                    <span 
                      style="
                        background: url('../static/img/wifi.png');
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        width:70%;
                        height:70%;">
                      </span>
                  </div>
                </div>
                <div class="item">
                  <div class="dot">
                    <span 
                      style="
                        background: url('../static/img/public_internet.png');
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        width:65%;
                        height:65%;">
                      </span>
                  </div>
                </div>
                <div class="item">
                  <div class="dot">
                    <span 
                      style="
                        background: url('../static/img/internet.png');
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        width:70%;
                        height:70%;">
                      </span>
                  </div>
                </div>
                <div class="item">
                  <div class="dot">
                    <span 
                      style="
                        background: url('../static/img/government.png');
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        width:65%;
                        height:65%;">
                      </span>
                  </div>
                </div>
                <div class="item">
                  <div class="dot">
                    <span 
                      style="
                        background: url('../static/img/touch-control.png');
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        width:70%;
                        height:70%;">
                      </span>
                  </div>
                </div>
                <div class="item">
                  <div class="dot">
                    <span 
                      style="
                        background: url('../static/img/conveyor.png');
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        width:65%;
                        height:65%;">
                      </span>
                  </div>
                </div>
                <div class="item">
                  <div class="dot">
                    <span 
                      style="
                        background: url('../static/img/database-storage.png');
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        width:65%;
                        height:65%;">
                      </span>
                  </div>
                </div>
                <div class="item">
                  <div class="dot">
                    <span 
                      style="
                        background: url('../static/img/job.png');
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        width:65%;
                        height:65%;">
                      </span>
                  </div>
                </div>
                <div class="item">
                  <div class="dot">
                    <span 
                      style="
                        background: url('../static/img/building.png');
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        width:65%;
                        height:65%;">
                      </span>
                  </div>
                </div>
              </div>
            </div>
        </section>
      </div>

    </div>
  </section>End Features Section -->

  <!-- Theme timeline Section -->
  <!-- <section id="themetimeline">
    
  </section> -->
  <!-- ======= Gallery Section ======= -->
  <section id="gallery">

    <div class="container" data-aos="fade-up">
      <div class="section-title" data-aos="fade-up">
        <h2>Gallery</h2>
      </div>
    </div>

    <div class="gallery-slider swiper">
      <div class="swiper-wrapper align-items-center">
        {% for slide in carousel %}
          <div class="swiper-slide">
            <a href="{{ slide.image.url }}" class="gallery-lightbox">
              <img src="{{ slide.image.url }}" class="img-fluid" alt="">
            </a>
            <!-- <div class="swiper-slide-overlay"></div> -->
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>

  </section><!-- End Gallery Section -->
</div>
</main><!-- End #main -->
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/particle.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/orbit.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script>
          let time=12000;
            $('.step').each(function(i){ 
                    var aTag = this;
                    var starter= setTimeout(function() { 
                        $(aTag).click();
                        clearInterval(starter);
                        }, 4000 * (i + 1)) 
                })
          setInterval(function () {
                $('.step').each(function(i){ 
                    var aTag = this;
                    setTimeout(function() { 
                        $(aTag).click();
                        }, 4000 * (i + 1)) 
                })
            },time );
      


        $(".step").click( function() {
        $(this).addClass("active").prevAll().addClass("active");
        $(this).nextAll().removeClass("active");
      });
      
                          
      $(".step02").click( function() {
        $("#line-progress").css("width", "3%");
        $(".discovery").addClass("active").siblings().removeClass("active");
      });
      
      $(".step03").click( function() {
        $("#line-progress").css("width", "50%");
        $(".creative").addClass("active").siblings().removeClass("active");
      });
      
      $(".step04").click( function() {
        $("#line-progress").css("width", "100%");
        $(".production").addClass("active").siblings().removeClass("active");
      });
      
    </script>
{% endblock %}
