{% extends 'base.html' %}
{% load static %}

{% block title %}
<!-- title -->
{% endblock %}

{% block head_links %}
<!-- header links -->
{% endblock %}

{% block style %}
<!-- import css files or write css code-->
{% endblock %}

{% block content %}
<!-- write your code here -->
<div style="height: 500px; width:100%; background:rgb(4, 206, 179);align-items: center;
justify-content: center; display:flex">
    <h1>Home Page</h1>
</div>
{% endblock %}

{% block scripts %}
<!-- import js files or write js code-->
{% endblock %}