{% extends "base.html" %} 
{% load static %}
{% load i18n %} 
{% load crispy_forms_tags %}
{% block title %}Join Team{% endblock%} 

{% block style %}

<link rel="stylesheet" href="{% static 'css/account/logout.css' %}" />

{% endblock %}

{% block content %}

<div class="mainWrapperLogout">
  <div style="color: white" class="logoutContainer">
    <h4 style="text-align: center">Join Team</h4>
      <form style="justify-content: center;" action="/users/join_team/", method="post">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-primary btn-sm my-2">Join</button>
    </form>
  </div>
</div>
{% endblock %}