{% extends 'base.html' %} {% load static %} {% block title %}
Registered Events
{% endblock %} {% block head_links %}
<!-- header links -->
{% endblock %} {% block style %}
<link href="{% static 'css/my_events.css' %}" rel="stylesheet" />
<!-- <link href="{% static 'css/schedule.css' %}" rel="stylesheet" /> -->

{% endblock %} {% block content %}

<div class="mainDiv">
  <div class="section-header" data-aos="fade-up">
        <h2>Registered Events</h2>
      </div>
  <div data-aos="fade-in">
    {% if categories %}
      <ul
      class="nav nav-tabs"
      role="tablist"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      {% for category in categories %}
        {% if forloop.first %}
        {% if category == "poster_presentation" %}
        <li class="nav-item">
          <a class="nav-link active" href="#{{category}}" role="tab" data-bs-toggle="tab"
            >Poster Presentation</a
          >
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link active" href="#{{category}}" role="tab" data-bs-toggle="tab"
            >{{category|capfirst}}</a
          >
        </li>
        {% endif %}
          
        {% else %}
        {% if category == "poster_presentation" %}
        <li class="nav-item">
          <a class="nav-link" href="#{{category}}" role="tab" data-bs-toggle="tab"
            >Poster Presentation</a
          >
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="#{{category}}" role="tab" data-bs-toggle="tab"
            >{{category|capfirst}}</a
          >
        </li>
        {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
    {% else %}
      <h3 style="color: white; text-align: center;" data-aos="fade-down">No Event Registered Yet</h3>
    {% endif %}
    
  </div>
  <div
      class="tab-content row justify-content-center"
      data-aos="fade-up"
      data-aos-delay="200"
    >
  {% for category in categories %}

    {% if forloop.first %}
      <div
        role="tabpanel"
        class="col-lg-9 tab-pane fade show active"
        id="{{category}}"
      >
    {% else %}
      <div
        role="tabpanel"
        class="col-lg-9 tab-pane fade"
        id="{{category}}"
      >
    {% endif %}
      
      {% for team in my_teams %}
        {% if team.event.type == category %}
          <div class="teamCard" data-aos="fade-down">
            <div class="row">
              <div class="col-lg-3" style="display: flex; justify-content: center; align-items: center;">
                <img style="width: 100%; height: 270px; border-radius: 4px;" src="{{ team.event.image.url }}" alt="Event Image">
              </div>
              <div style="margin: auto 0px;" class="col-lg-9">
                {% if team.event.type == 'talk' %}
                  {% if team.event.speaker and team.event.designation %}
                  <h4>{{team.event.speaker}}</h4>
                  <p style="color: #e1e1e1; font-size: 0.95rem; margin-top: -5px;">{{team.event.designation}}</p>
                  {% endif %}
                {% else %}
                  <h4 class="eventName">{{ team.event.name }}</h4>
                {% endif %}
                  <div class="d-flex">
                    <p style="color: white; padding: 1px 9px; margin-right: 10px; border: 1px solid white; border-radius: 3px; font-size: 0.75rem;"><i class="fas fa-calendar-alt mr-2"></i> {% if team.event.date|date:"N j, Y" == "Jan. 1, 2023" %} Coming Soon {% else %}  {{team.event.date}} | {{team.event.time}} {% endif %}</p>
                    {% if request.user == team.leader and team.event.participation_type == "team" %}
                    <p style="color: white; padding: 1px 9px; margin-right: 10px; border: 1px solid white; border-radius: 3px; font-size: 0.75rem;">Leader</p>
                    {% endif %}
                    <p style="color: white; padding: 1px 9px; margin-right: 10px; border: 1px solid white; border-radius: 3px; font-size: 0.75rem;">Id: {{team.pk}}</p>
                  </div>
                  <p style="color: white;">{{team.event.description}}</p>
                  <div class="d-flex">
                    {% if team.event.participation_type == "team" %}
                      {% if team.event.min_team_size > team.members.count %}
                        <p style="color: white; padding: 1px 9px; border: 1px solid red; border-radius: 3px; font-size: 0.75rem; background-color: red;">Team not eligible (Min. team size must be {{team.event.min_team_size}})</p>
                      {% else %}
                        <p style="color: white; padding: 1px 9px; border: 1px solid green; border-radius: 3px; font-size: 0.75rem; background-color: green;">Team is eligible</p>
                      {% endif %}
                    {% endif %}
                  </div>
                  <div class="d-flex">
                    {% if team.event.type == "poster_presentation" %}
                    <a class="btn btn-sm btn-outline-light" style="margin-right: 3px;" href="/events/{{team.event.type}}"><i class="fas fa-info-circle"></i> More Info</a>
                    {% else %}
                    <a class="btn btn-sm btn-outline-light" style="margin-right: 3px;" href="/events/{{team.event.type}}/{{team.event.pk}}"><i class="fas fa-info-circle"></i> More Info</a>
                    {% endif %}
                    
                    {% if request.user == team.leader and team.event.participation_type == "team" %}
                      <a class="btn btn-sm btn-outline-light mx-1" href="/users/edit_team/{{team.pk}}"><i class="fas fa-edit"></i> Edit Team</a>
                    {% endif %}
                    {% if team.event.meet_link %}
                      <a href="{{ team.event.meet_link }}" class="btn btn-sm btn-outline-light mx-1">
                        <i class="fas fa-video mr-2"></i> Join
                      </a>
                    {% endif %}
                    {% if team.event.webx_link %}
                      <a href="{{ team.event.webx_link }}" class="btn btn-sm btn-outline-light mx-1">
                        <i class="fas fa-video mr-2"></i> Join
                      </a>
                    {% endif %}
                    {% if team.event.youtube_link %}
                      <a href="{{ team.event.youtube_link }}" class="btn btn-sm btn-outline-light mx-1">
                        <i class="fas fa-video mr-2"></i> Join
                      </a>
                    {% endif %}
                  </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>


  

  
  <!-- {% for category in categories %}
      <div class="section-header" data-aos="fade-up">
        <h2>{{category}}</h2>
      </div>
      {% for team in my_teams %}
        {% if team.event.type == category %}
          <div class="teamCard" data-aos="fade-down">
            <div class="row">
              <div class="col-lg-3">
                <img style="width: 100%; height: 270px;" src="{{ team.event.image.url }}" alt="Event Image">
              </div>
              <div style="margin: auto 0px;" class="col-lg-9">
                <h4 style="font-size: 1.8rem; font-weight: 500; color: white;">{{ team.event.name }}</h4>
                  <div class="d-flex">
                    <p style="color: white; padding: 1px 9px; margin-right: 10px; border: 1px solid white; border-radius: 3px; font-size: 0.75rem;">{{team.event.date}} | {{team.event.time}}</p>
                    {% if request.user == team.leader and team.event.participation_type == "team" %}
                    <p style="color: white; padding: 1px 9px; margin-right: 10px; border: 1px solid white; border-radius: 3px; font-size: 0.75rem;">Leader</p>
                    {% endif %}
                    <p style="color: white; padding: 1px 9px; margin-right: 10px; border: 1px solid white; border-radius: 3px; font-size: 0.75rem;">Id: {{team.pk}}</p>
                  </div>
                  <p style="color: white;">{{team.event.description}}</p>
                  <div class="d-flex">
                    {% if team.event.participation_type == "team" %}
                      {% if team.event.min_team_size > team.members.count %}
                        <p style="color: white; padding: 1px 9px; border: 1px solid red; border-radius: 3px; font-size: 0.75rem; background-color: red;">Team not eligible (Add more members in your team)</p>
                      {% else %}
                        <p style="color: white; padding: 1px 9px; border: 1px solid green; border-radius: 3px; font-size: 0.75rem; background-color: green;">Team is eligible</p>
                      {% endif %}
                    {% else %}
                        <p style="color: white; padding: 1px 9px; border: 1px solid green; border-radius: 3px; font-size: 0.75rem; background-color: green;">You are eligible</p>  
                    {% endif %}
                  </div>
                  <div class="d-flex">
                    <a class="btn btn-sm btn-outline-light" href="/events/{{team.event.type}}/{{team.event.pk}}">More Info</a>
                    {% if request.user == team.leader and team.event.participation_type == "team" %}
                      <a class="btn btn-sm btn-outline-light mx-2" href="/users/edit_team/{{team.pk}}">Edit Team</a>
                    {% endif %}
                  </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
  {% endfor %} -->

</div>

{% endblock %} {% block scripts %}
<!-- import js files or write js code-->
{% endblock %}