{% extends 'template.html' %}
{% load static %}

{% block title %}
{{type|capfirst}} Events
{% endblock %}


{% block style %}
<!-- import css files or write css code-->
<link href="{% static 'css/panel.css' %}" rel="stylesheet">
<link href="{% static 'css/science_day.css' %}" rel="stylesheet">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

{% endblock %}




{% block content %}
<!-- ======= Team Section ======= -->
<section id="heading">
  <img class='img-fluid nsdlogo'  src="../static/img/nsd_final.png">
</section>
<section id="team" class="team section-bg" style="background: #110f16;">
    <!-- <div class="container" data-aos="fade-up">

     
      <div class="row">

        <div class="col-lg-6">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
            <div class="pic"><img src="../static/img/PR_Poster.png" class="img-fluid" alt=""></div>
            
            <div class="member-info">
              <h4>Prof. R. Chidambaram </h4>
              <span>Chief Executive Officer</span>
              <p>Indian Physicist who is known for his integral role in India's nuclear weapons program; he coordinated test preparation for the Pokhran-I (1975) and Pokhran-II (1998).</p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4 mt-lg-0">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
            <div class="pic"><img src="../static/img/PR_Poster.png" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Prof. Samir Brahmachari</h4>
              <span>Ex-DG CSIR</span>
              <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
            <div class="pic"><img src="../static/img/PR_Poster.png" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Prof. Partho Majumdar</h4>
              <span>National Science Chair Professor</span>
              <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
            <div class="pic"><img src="../static/img/PR_Poster.png" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Prof. Ashutosh Sharma</h4>
              <span>Ex-Secretary DST</span>
              <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
            </div>
          </div>
        </div>

      </div>

    </div> -->
    <div class=" row justify-content-center">
      <div class="col-6" style="margin:5px">
        <div class="row schedule-item">
          <div class="col-md-3 schedule-img">
            <div class="speaker">
              <img src="../static/img/PR_Poster.png" alt="Brenden Legros" />
            </div>
        </div>
          <div class="col-md-9 schedule-data">
            <h4 style="color: #49fcff;">Prof. R. Chidambaram </h4>
            <p>
             <span style="font-size:12px">Designation</span>
            </p>
           <p class="description">
              Rajagopala Chidambaram is an Indian Physicist who is known for his integral role in India's nuclear weapons program; he coordinated test preparation for the Pokhran-I (1975) and Pokhran-II (1998).
            </p>
         
          </div>
        </div>
        
      </div>
      <div class="col-6">
        <div class="row schedule-item">
          <div class="col-md-3 schedule-img">
            <div class="speaker">
              <img src="../static/img/PR_Poster.png" alt="Brenden Legros" />
            </div>
        </div>
          <div class="col-md-9 schedule-data">
            <h4 style="color: #49fcff;">Prof. Samir Brahmachari</h4>
            <p>
              <span style="font-size:12px">Ex-DG CSIR</span>
            </p>
            
            
            <p class="description">
              Aut maiores voluptates amet et quis praesentium qui senda para
            </p>
         
          </div>
        </div>
      </div>
    </div>
      
    <div class=" row justify-content-center">
      <div class="col-6" style="margin:5px">
        <div class="row schedule-item">
          <div class="col-md-3 schedule-img">
            <div class="speaker">
              <img src="../static/img/PR_Poster.png" alt="Brenden Legros" />
            </div>
        </div>
          <div class="col-md-9 schedule-data">
            <h4 style="color: #49fcff;">Prof. Partho Majumdar</h4>
            <p>
             <span style="font-size:12px">National Science Chair Professor</span>
            </p>
           <p class="description">
              Rajagopala Chidambaram is an Indian Physicist who is known for his integral role in India's nuclear weapons program; he coordinated test preparation for the Pokhran-I (1975) and Pokhran-II (1998).
            </p>
         
          </div>
        </div>
        
      </div>
      <div class="col-6">
        <div class="row schedule-item">
          <div class="col-md-3 schedule-img">
            <div class="speaker">
              <img src="../static/img/PR_Poster.png" alt="Brenden Legros" />
            </div>
        </div>
          <div class="col-md-9 schedule-data">
            <h4 style="color: #49fcff;">Prof. Ashutosh Sharma</h4>
            <p>
              <span style="font-size:12px">Ex-Secretary DST</span>
            </p>
            
            
            <p class="description">
              Aut maiores voluptates amet et quis praesentium qui senda para
            </p>
         
          </div>
        </div>
      </div>
    </div>
      
  </section><!-- End Team Section -->
<section class="dark">
	<div class="container py-4">
        <div style="margin-top: 20px; margin-bottom: 30px; width:100%; background-attachment: fixed;align-items: center; 
        justify-content: center; display:flex">
            <div class="section-header">
                <h2>Organized By</h2>
            </div>
        </div>
            <article class="postcard dark blue" data-aos="fade-up">
                <!-- <a class="postcard__img_link">
                    <img class="postcard__img" src="{{event.image.url}}" alt="Image Title" />
                </a> -->
                <div class="postcard__text">
                    <div class="row ">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 panelist-details">
                           <div class="row justify-content-center panelist-img" style="background-image: url('../static/img/logo.png'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
                           <div class="row  panelist-info">
                               <span style="font-size: larger;">{{panelist.name}}</span>
                               <span style="font-size: smaller;">{{panelist.designation}}</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 panelist-details">
                            <div class="row justify-content-center panelist-img" style="background-image: url('../static/img/jckic.jpeg'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
                            <div class="row  panelist-info">
                                <span style="font-size: larger;">{{panelist.name}}</span>
                                <span style="font-size: smaller;">{{panelist.designation}}</span>
                             </div>
                         </div>
                         <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 panelist-details">
                            <div class="row justify-content-center panelist-img" style="background-image: url('../static/img/jnvu.jfif'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
                            <div class="row  panelist-info">
                                <span style="font-size: larger;">{{panelist.name}}</span>
                                <span style="font-size: smaller;">{{panelist.designation}}</span>
                             </div>
                         </div>
                         <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 panelist-details">
                            <div class="row justify-content-center panelist-img" style="background-image: url('../static/img/mbm.png'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
                            <div class="row  panelist-info">
                                <span style="font-size: larger;">{{panelist.name}}</span>
                                <span style="font-size: smaller;">{{panelist.designation}}</span>
                             </div>
                         </div>
                    </div>
                        <p style="margin-bottom: 4px; margin-top: 25px; text-align:center">For any queries, please contact</p>
                        <div class="row" style="text-align: center; justify-content: center; margin-top: 8px; margin-bottom: 8px;">
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <p style="font-weight: 600; margin-bottom: 4px;">contact.name</p>
                                <p style="margin-bottom: 4px;"> +91 7845965214</p>
                                <p style="margin-bottom: 8px;">emain@gmail.com</p>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <p style="font-weight: 600; margin-bottom: 4px;">contact.name</p>
                                <p style="margin-bottom: 4px;"> +91 7845965214</p>
                                <p style="margin-bottom: 8px;">emain@gmail.com</p>
                            </div>
                        </div>
                    <ul class="postcard__tagbox">
                        <!-- {% if event.date|date:"N j, Y" == "Jan. 1, 2023" %}
                        <li class="tag__item"><i class="fas fa-calendar-alt mr-2"></i> Coming Soon</li>
                        {% else %}
                        <li class="tag__item"><i class="fas fa-calendar-alt mr-2"></i>  {{ event.date }} <b>|</b> {{event.time}}</li>
                        {% endif %}
                        {% if event in user.extendeduser.events.all %}
                            {% if event.meet_link %}
                            <a href="{{ event.meet_link }}">
                                <li class="tag__item play blue"><i class="fas fa-video mr-2"></i> Join</li>
                            </a>
                            {% endif %}
                            {% if event.webx_link %}
                            <a href="{{ event.webx_link }}">
                                <li class="tag__item play blue"><i class="fas fa-video mr-2"></i> Join</li>
                            </a>
                            {% endif %}
                            {% if event.youtube_link %}
                            <a href="{{ event.youtube_link }}">
                                <li class="tag__item play blue"><i class="fas fa-video mr-2"></i> Join</li>
                            </a>
                            {% endif %}
                        {% endif %}

                        {% if event in user.extendeduser.events.all %}
                            <li class="tag__item"><i class="fas fa-edit mr-2"></i> Already Registered</li>
                        {% else %}
                            <a href="/users/register_indi_event/{{event.id}}">
                                <li style="cursor: pointer;" class="tag__item play blue"><i class="fas fa-edit mr-2"></i> Register</li>
                            </a>
                        {% endif %} -->
                    </ul>
                </div>
            </article>
	</div>
</section>

{% endblock %}


{% block scripts %}
<!-- <script src="{% static 'js/main.js' %}"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
{% endblock %}