{% extends 'template.html' %}
{% load static %}

{% block title %}
National Science Day
{% endblock %}


{% block style %}
<!-- import css files or write css code-->
<link href="{% static 'css/panel.css' %}" rel="stylesheet">
<link href="{% static 'css/science_day.css' %}" rel="stylesheet">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

{% endblock %}




{% block content %}
<!-- ======= Team Section ======= -->
<section id="heading">
  <img class='img-fluid nsdlogo'  src="../static/img/nsd_final.png">
</section>
<div>
  {% if event %}
    {% if event in user.extendeduser.events.all %}
      <a href="#" class="tag__item_alrdyregistered"><i class="fas fa-edit mr-2" style="text-align: center; width: fit-content; cursor: pointer"></i> Already Registered</a>
    {% else %}
      <a href="/users/register_indi_event/{{event.id}}" class="tag__item play blue" style="text-align: center; width: fit-content; cursor: pointer"><i class="fas fa-edit mr-2"></i> Register</a>
    {% endif %}
    {% if event.meet_link %}
      <a href="{{ event.meet_link }}" class="tag__item play blue" style="text-align: center; width: fit-content; cursor: pointer; margin-top: 15px"><i class="fas fa-video mr-2"></i> View Event</a>
    {% endif %}
    {% if event.webx_link %}
      <a href="{{ event.webx_link }}" class="tag__item play blue" style="text-align: center; width: fit-content; cursor: pointer; margin-top: 15px"><i class="fas fa-video mr-2"></i> View Event</a>
    {% endif %}
    {% if event.youtube_link %}
      <a href="{{ event.youtube_link }}" class="tag__item play blue" style="text-align: center; width: fit-content; cursor: pointer; margin-top: 15px"><i class="fas fa-video mr-2"></i> View Event</a>
    {% endif %}
  {% endif %}
</div>
<div style="margin-top: 60px; margin-bottom: 10px; width:100%; background-attachment: fixed;align-items: center; 
        justify-content: center; display:flex">
            <div class="section-header">
                <h2>INDIA's Journey in Science and Technology</h2>
            </div>
</div>
<section id="team" class="team section-bg" style="background: #110f16;">
    <!-- <div class="container" data-aos="fade-up">

     
      <div class="row">

        <div class="col-lg-6">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
            <div class="pic"><img src="../static/img/PR_Poster.png" class="img-fluid" alt=""></div>
            
            <div class="member-info">
              <h4>Prof. R. Chidambaram </h4>
              <span>Chief Executive Officer</span>
              <p>Indian Physicist who is known for his integral role in India's nuclear weapons program; he coordinated test preparation for the Pokhran-I (1975) and Pokhran-II (1998).</p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4 mt-lg-0">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
            <div class="pic"><img src="../static/img/PR_Poster.png" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Prof. Samir Brahmachari</h4>
              <span>Ex-DG CSIR</span>
              <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
            <div class="pic"><img src="../static/img/PR_Poster.png" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Prof. Partho Majumdar</h4>
              <span>National Science Chair Professor</span>
              <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
            <div class="pic"><img src="../static/img/PR_Poster.png" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Prof. Ashutosh Sharma</h4>
              <span>Ex-Secretary DST</span>
              <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
            </div>
          </div>
        </div>

      </div>

    </div> -->
    <div class=" row justify-content-center">
      <div class="col-9" style="margin:5px; display:flex; justify-content: center" data-aos="fade-up">
        <div class="row schedule-item">
          <div class="row">
            <div class="row section-topic" style="justify-content: center;">From Raman Effect to Nuclear Power</div>
          </div>
          <div class="row">
            <div class="col-md-3 schedule-img">
              <div class="speaker">
                <img src="../static/img/R_Chidambaram.jfif" alt="Brenden Legros" />
              </div>
            </div>
            <div class="col-md-9 schedule-data">
              <h4 style="color: #49fcff;">Prof. R. Chidambaram </h4>
              <p>
              <span style="font-size:14px">Director of The Bhabha Atomic Research Centre (BARC)</span>  
              </p>
            <p class="description">
              Dr. Rajagopala Chidambaram became the Director of the Bhabha Atomic Research Centre(BARC) in 1990. 
              He was Chairman, Atomic Energy Commission from 1993 to 2000 and Principal Scientific Adviser to the Govt. of India
              and the Chairman of the Scientific Advisory Committee to the Cabinet from 2001 to 2018. He is presently the DAE-Homi Bhabha Professor in BARC.Dr. Chidambaram has made important contributions to many aspects of our nuclear technology. He has D.Sc Degrees (h.c) from thirty Universities from India and abroad. He has more than 200 research publications in refereed journals and all his research work has been in India. He is a Fellow of all the major Science Academies in India and also of the National Academy of Engineering and The World Academy of Sciences Trieste (Italy). 
            </p>
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-9" style="margin:5px; display:flex; justify-content: center" data-aos="fade-up">
        <div class="row">
          <div class="row schedule-item">
            <div class="row"><div class="section-topic"></div></div>
            <div class="row">
              <div class="col-md-3 schedule-img">
                <div class="speaker">
                  <img src="../static/img/Samir_Brahmachari.jfif" alt="Brenden Legros" />
                </div>
              </div>
              <div class="col-md-9 schedule-data">
                <h4 style="color: #49fcff;">Prof. Samir Brahmachari</h4>
                <p>
                  <span style="font-size:14px">Ex-DG CSIR</span>
                </p>
                <p class="description">
                  Prof. Samir K. Brahmachari is the Academy Professor of the Academy of Scientific and Innovative Research, former Professor of Biophysics, Indian Institute of Science, Bangalore, and the Chief Mentor of Open Source Drug Discovery. He is also the Chief Mentor, Health Technology Innovations for ACCESS Health International, Inc. He was previously the Founder Director of CSIR – Institute of Genomics and Integrative Biology (1997-2007), the former Director General of CSIR India and Secretary, DSIR, Government of India (2007-2013). He is the recipient of many national and international awards including the Shanti Swarup Bhatnagar prize. He is an elected fellow of The World Academy of Sciences, the European Society of Preventive Medicine and a member of all four National Academies of Science & Engineering, India.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      
    <div class=" row justify-content-center">
      <div class="col-9" style="margin:5px; display:flex; justify-content: center" data-aos="fade-up">
        <div class="row schedule-item">
          <div class="row"><div class="section-topic"></div></div>
          <div class="row">
            <div class="col-md-3 schedule-img">
              <div class="speaker">
                <img src="../static/img/Partha_Majumder.jpg" alt="Prof. Partha Majumder" />
              </div>
            </div>
            <div class="col-md-9 schedule-data">
              <h4 style="color: #49fcff;">Prof. Partha Majumder</h4>
              <p>
              <span style="font-size:14px">National Science Chair Professor</span>
              </p>
            <p class="description">
              Partha Majumder is the founder of the National Institute of Biomedical Genomics, and concurrently a Professor of the Indian Statistical Institute, Kolkata, India. He is a Sir J.C. Bose National Fellow. He is an elected Fellow of all the three science academies of India, of The World Academy of Sciences and the International Statistical Institute. He is a Council Member of the Human Genome Organisation. He is the Indian National co-Coordinator on the International Cancer Genome Consortium. He has served on the Board of Directors of the International Genetic Epidemiology Society (IGES), and was the founding Chair of its Ethics Committee. He has worked for the International Bioethics Committee of UNESCO. He is a recipient of many awards and medals, including the TWAS Biology Prize, G.D. Birla Award for Scientific Research, Ranbaxy Research Award in Applied Medical Sciences, and the New Millennium Science Medal.
              </p>
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-9" style="margin:5px; display:flex; justify-content: center" data-aos="fade-up">
        <div class="row schedule-item">
          <div class="row"><div class="section-topic">A Brief History of Future: India's Journey in S&T</div></div>
          <div class="row">
            <div class="col-md-3 schedule-img">
              <div class="speaker">
                <img src="../static/img/Ashutosh_Sharma.jpg" alt="Prof. Ashutosh Sharma" />
              </div>
            </div>
            <div class="col-md-9 schedule-data">
              <h4 style="color: #49fcff;">Prof. Ashutosh Sharma</h4>
              <p>
                <span style="font-size:14px">Ex-Secretary, Department of Science and Technology</span>
              </p>
              <p class="description">
                Prof. Ashutosh Sharma is an Institute Chair Professor and C V Seshadri Chair Professor at the Department of chemical engineering of Indian Institute of Technology Kanpur.He is best known for his pioneering research work in the areas of colloids, thin film, interfaces, adhesion, patterning and in the fabrication and application of self-assembled nano-structures. Ashutosh is a recipient of numerous honors and awards including the inaugural Infosys Prize in Engineering and Computer Science, TWAS Science Prize of the World Academy of Sciences, Bessel Research Award of the Humboldt Foundation, J. C. Bose Fellowship, S. S. Bhatnagar Prize, Homi J. Bhabha Award of UGC, The Syed Husain Zaheer Medal and the Meghnad Saha Medal of INSA, Distinguished Alumni Awards of IIT Kanpur and SUNY Buffalo, Firodia Award, the Life-time Achievement Award of the Indian Science Congress and several Doctor of Science honoris causa, including from SUNY Buffalo, and Jadavpur University.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class=" row justify-content-center">
      <div class="col-9" style="margin:5px; display:flex; justify-content: center" data-aos="fade-up">
        <div class="row schedule-item">
          <div class="col-md-3 schedule-img">
            <div class="speaker">
              <img src="../static/img/Pranay_Lal.jpeg" alt="Prof. Partha Majumder" />
            </div>
        </div>
          <div class="col-md-9 schedule-data">
            <h4 style="color: #49fcff;">Pranay Lal</h4>
            <p>
             <span style="font-size:14px">Writer & Biochemist</span>
            </p>
           <p class="description">
            Pranay Lal is a biochemist by training and works for a non-profit organisation on public health. He has been a caricaturist for newspapers, an animator for an advertising agency and an environmental campaigner. His first book, Indica: A Deep Natural History of the Indian Subcontinent, was published in December 2016. It won the best non-fiction debut award at the Tata Lit Fest in Mumbai in 2017, best book award at the Delhi Book Fair 2017 and was named among the top 10 memorable books of the year by Amazon. 
          </p>
         
          </div>
        </div>
        
      </div>
      
    </div>
      
  </section><!-- End Team Section -->
<section class="dark">
	<div class="container py-4">
        <div style="margin-top: 20px; margin-bottom: 30px; width:100%; background-attachment: fixed;align-items: center; 
        justify-content: center; display:flex">
            <div class="section-header">
                <h2>Organized By</h2>
            </div>
        </div>
            <article class="postcard dark blue" data-aos="fade-up">
                <!-- <a class="postcard__img_link">
                    <img class="postcard__img" src="{{event.image.url}}" alt="Image Title" />
                </a> -->
                <div class="postcard__text">
                    <div class="row ">
                      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 panelist-details">
                        <div class="row justify-content-center panelist-img" style="background-image: url('../static/img/iitj.png'); background-size: cover; background-position: center; background-repeat: no-repeat; "></div>
                        <div class="row  panelist-info">
                            <!-- <span style="font-size: larger;">{{panelist.name}}</span> -->
                            <!-- <span style="font-size: smaller;">{{panelist.designation}}</span> -->
                         </div>
                     </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 panelist-details">
                           <div class="row justify-content-center panelist-img" style="background-image: url('../static/img/logo.png'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
                           <div class="row  panelist-info">
                               <!-- <span style="font-size: larger;">{{panelist.name}}</span> -->
                               <!-- <span style="font-size: smaller;">{{panelist.designation}}</span> -->
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 panelist-details">
                            <div class="row justify-content-center panelist-img" style="background-image: url('../static/img/jckic.jpeg'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
                            <div class="row  panelist-info">
                                <!-- <span style="font-size: larger;">{{panelist.name}}</span> -->
                                <!-- <span style="font-size: smaller;">{{panelist.designation}}</span> -->
                             </div>
                         </div>
                         <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 panelist-details">
                            <div class="row justify-content-center panelist-img" style="background-image: url('../static/img/jnvu.jfif'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
                            <div class="row  panelist-info">
                                <!-- <span style="font-size: larger;">{{panelist.name}}</span> -->
                                <!-- <span style="font-size: smaller;">{{panelist.designation}}</span> -->
                             </div>
                         </div>
                         <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 panelist-details">
                            <div class="row justify-content-center panelist-img" style="background-image: url('../static/img/mbm.png'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
                            <div class="row  panelist-info">
                                <!-- <span style="font-size: larger;">{{panelist.name}}</span> -->
                                <!-- <span style="font-size: smaller;">{{panelist.designation}}</span> -->
                             </div>
                         </div>
                        
                    </div>
                    <ul class="postcard__tagbox">
                        <!-- {% if event.date|date:"N j, Y" == "Jan. 1, 2023" %}
                        <li class="tag__item"><i class="fas fa-calendar-alt mr-2"></i> Coming Soon</li>
                        {% else %}
                        <li class="tag__item"><i class="fas fa-calendar-alt mr-2"></i>  {{ event.date }} <b>|</b> {{event.time}}</li>
                        {% endif %}
                        {% if event in user.extendeduser.events.all %}
                            {% if event.meet_link %}
                            <a href="{{ event.meet_link }}">
                                <li class="tag__item play blue"><i class="fas fa-video mr-2"></i> Join</li>
                            </a>
                            {% endif %}
                            {% if event.webx_link %}
                            <a href="{{ event.webx_link }}">
                                <li class="tag__item play blue"><i class="fas fa-video mr-2"></i> Join</li>
                            </a>
                            {% endif %}
                            {% if event.youtube_link %}
                            <a href="{{ event.youtube_link }}">
                                <li class="tag__item play blue"><i class="fas fa-video mr-2"></i> Join</li>
                            </a>
                            {% endif %}
                        {% endif %}

                        {% if event in user.extendeduser.events.all %}
                            <li class="tag__item"><i class="fas fa-edit mr-2"></i> Already Registered</li>
                        {% else %}
                            <a href="/users/register_indi_event/{{event.id}}">
                                <li style="cursor: pointer;" class="tag__item play blue"><i class="fas fa-edit mr-2"></i> Register</li>
                            </a>
                        {% endif %} -->
                    </ul>
                </div>
            </article>
	</div>
</section>

{% endblock %}


{% block scripts %}
<!-- <script src="{% static 'js/main.js' %}"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
{% endblock %}