{% extends 'template.html' %}
{% load static %}

{% block title %}
{{type|capfirst}} Events
{% endblock %}


{% block style %}
<!-- import css files or write css code-->
<link href="{% static 'css/poster_presentation.css' %}" rel="stylesheet">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

{% endblock %}

{% block content %}
<section class="dark">
	<div class="container py-4">
        <div style="margin-top: 20px; margin-bottom: 30px; width:100%; background-attachment: fixed;align-items: center; 
        justify-content: center; display:flex">
            <div class="section-header">
                <h2>Poster Presentations</h2>
            </div>
        </div>
        {% if brochure %}
            <p data-aos="fade-in" data-aos-delay="500" data-aos-duration="500" data-aos-once = "true" style="font-size: x-large; color: white; text-align: center; margin-bottom: 40px"><a href="{{brochure.file.url}}" style="color: #2b2d2e;
                font-size: medium;
                background: #ffffff;
                padding: 10px;
                border-radius: 5px;
                border: 3px solid #47b2e4;"><i class="fas fa-download"></i> {{brochure.name}}</a></p>
        {% endif %}
        {% if events.count == 0 %}
            <p data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000" data-aos-once = "true" style="font-size: xx-large; color: white; text-align: center;">Coming Soon!</p>
        {% endif %}
        {% for event in events %}
        <article class="postcard dark blue" data-aos="fade-up">
            <div class="postcard__text">
                <h1 class="postcard__title blue">{{event.name}}</h1>
                {% if event.prize %}
                    <div class="postcard__subtitle small">
                        <time datetime="2020-05-25 12:00:00">
                            <!-- <i class="fas fa-calendar-alt mr-2"></i> -->
                            {{ event.prize }}
                        </time>
                    </div>
                {% endif %}
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">{{event.poster_description|safe}}</div>
                <ul class="postcard__tagbox">
                    {% if event.date|date:"N j, Y" == "Jan. 1, 2023" %}
                    <li class="tag__item"><i class="fas fa-calendar-alt mr-2"></i> Coming Soon</li>
                    {% else %}
                    <li class="tag__item"><i class="fas fa-calendar-alt mr-2"></i>  {{ event.date }} <b>|</b> {{event.time}}</li>
                    {% endif %}
                    {% if event.sample_poster %}
                    <a href="{{ event.sample_poster }}">
                        <li class="tag__item play blue" style="cursor: pointer;"><i class="fas fa-download mr-2"></i> Sample Poster</li>
                    </a>
                    {% endif %}
                    {% if event.presentation_template %}
                    <a href="{{ event.presentation_template }}">
                        <li class="tag__item play blue" style="cursor: pointer;"><i class="fas fa-download mr-2"></i> Presentation Template</li>
                    </a>
                    {% endif %}
                    {% if event in user.extendeduser.events.all %}
                    <li class="tag__item play blue" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fas fa-upload mr-2"></i> Upload</li>
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header" style="border-bottom: 0px; padding-bottom: 0px;">
                                    <h5 class="modal-title" id="exampleModalLabel">Upload Your Submission</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <!-- <div class="form-group files">
                                    <label>Upload Your File </label>
                                    <input type="file" name="fileUploaded">
                                </div> -->
                                <div class="modal-body">
                                    <div class="drag-area">
                                        <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                                        <header>Drag & Drop to Upload File</header>
                                        <span>OR</span>
                                        <div class="browseButton">
                                            <button class="tag__item play blue">Browse File</button>
                                        </div>
                                        <input type="file" hidden>
                                    </div>
                                </div>
                                <div class="modal-footer" style="border-top: 0px; padding-top: 0px;">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        <a href="/users/register_indi_event/{{event.id}}">
                            <li style="cursor: pointer;" class="tag__item play blue"><i class="fas fa-edit mr-2"></i> Register</li>
                        </a>
                    {% endif %}

                </ul>
            </div>
        </article>
        {% endfor %}
</section>

{% endblock %}


{% block scripts %}
<!-- <script src="{% static 'js/main.js' %}"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<script>
    //selecting all required elements
    const dropArea = document.querySelector(".drag-area"),
    uploadIcon = dropArea.getElementsByClassName("icon")[0];
    dragText = dropArea.querySelector("header"),
    helperText = dropArea.querySelector("span"),
    button = dropArea.querySelector("button"),
    browseButton = dropArea.getElementsByClassName("browseButton")[0];
    input = dropArea.querySelector("input");
    let file; //this is a global variable and we'll use it inside multiple functions

    button.onclick = ()=>{
    input.click(); //if user click on the button then the input also clicked
    }

    input.addEventListener("change", function(){
    //getting user select file and [0] this means if user select multiple files then we'll select only the first one
    file = this.files[0];
    dropArea.classList.add("active");
    showFile(); //calling function
    });


    //If user Drag File Over DropArea
    dropArea.addEventListener("dragover", (event)=>{
    event.preventDefault(); //preventing from default behaviour
    dropArea.classList.add("active");
    dragText.textContent = "Release to Upload File";
    });

    //If user leave dragged File from DropArea
    dropArea.addEventListener("dragleave", ()=>{
    if(button.textContent == 'Browse File'){
        dropArea.classList.remove("active");
        dragText.textContent = "Drag & Drop to Upload File";
    }
    else{
        dragText.textContent = file.name + " uploaded!";
    }
    });

    //If user drop File on DropArea
    dropArea.addEventListener("drop", (event)=>{
    event.preventDefault(); //preventing from default behaviour
    //getting user select file and [0] this means if user select multiple files then we'll select only the first one
    file = event.dataTransfer.files[0];
    showFile(); //calling function
    });

    function showFile(){
        let fileReader = new FileReader(); //creating new FileReader object
        fileReader.onload = ()=>{
        let fileURL = fileReader.result; //passing user file source in fileURL variable
        uploadIcon.innerHTML = '<i class="fas fa-file-check"></i>';
        dragText.textContent = file.name + " uploaded!";
        helperText.innerHTML = '<p class="resubmitText">Drag & Drop another file to change the uploaded file <br/>or</p>';
        button.textContent = 'Change File';
        button.classList = ['changeButton'];
        }
        fileReader.readAsDataURL(file);
    // let fileType = file.type; //getting selected file type
    // let validExtensions = ["image/jpeg", "image/jpg", "image/png"]; //adding some valid image extensions in array
    // if(validExtensions.includes(fileType)){ //if user selected file is an image file
    //     let fileReader = new FileReader(); //creating new FileReader object
    //     fileReader.onload = ()=>{
    //     let fileURL = fileReader.result; //passing user file source in fileURL variable
    //     dragText.textContent = file.name;
    //     helperText.textContent = "Uploaded!";
    //     // button.classList.add("hideButton");
    //     browseButton.innerHTML = '<p class="resubmitText">Drag & Drop another file to change the uploaded file</p>';
    //     uploadIcon.innerHTML = '<i class="fas fa-file-check" style="color: rgb(50 195 50);"></i>';
    //     // let imgTag = `<img src="${fileURL}" alt="">`; //creating an img tag and passing user selected file source inside src attribute
    //     // dropArea.innerHTML = imgTag; //adding that created img tag inside dropArea container
    //     }
    //     fileReader.readAsDataURL(file);
    // }else{
    //     alert("This is not an Image File!");
    //     dropArea.classList.remove("active");
    //     dragText.textContent = "Drag & Drop to Upload File";
    // }
    }
</script>
{% endblock %}