{% extends 'base.html' %} {% load static %} {% block title %} Profile 
{% endblock %} {% block head_links %}
<!-- header links -->
{% endblock %} {% block style %}
<!-- import css files or write css code-->
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
<style>
  .input-group-addon{color:#253529; background-color: #e7e7e7; padding: 6px 10px 4px 10px; border-top-left-radius: 3px; border-bottom-left-radius: 3px;}
  </style>
{% endblock %} {% block content %}
<!-- write your code here -->

<div class="mainWrapperProfile">

<div class="profileContainer">
  <h3 style="text-align: center; margin: 35px 0px 35px 0px">
    {% if user.extendeduser.isProfileCompleted == False %}
      Complete your registration
    {% else %}
      Update your profile
    {% endif %}
  </h3>
  <form
    class="needs-validation"
    validate
    action="/users/profile/"
    method="POST"
  >
    {% csrf_token %}
    <div class="row my-2">
      <div class="form-group col-md-6">
        <label for="first_name">First Name</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fas fa-user"></i>
          </div>
          <input
            type="text"
            class="form-control"
            id="first_name"
            name="first_name"
            value="{{user.first_name}}"
            required
          />
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="last_name">Last Name</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fas fa-user"></i>
          </div>
          <input
            type="text"
            class="form-control"
            id="last_name"
            name="last_name"
            value="{{user.last_name}}"
            required
          />
        </div>
      </div>
    </div>
    <div class="row my-2">
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <div class="input-group">
          <div class="input-group-addon">
            @
          </div>
          <input
            style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;cursor: not-allowed;" 
            unselectable="on"
            onselectstart="return false;" 
            onmousedown="return false;"
            type="text"
            class="form-control"
            id="email"
            name="email"
            value="{{user.email}}"
            readonly
            required
          />
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="college_name">College</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fas fa-university"></i>
          </div>
          {% if user.extendeduser.college %}
          <input
            type="text"
            class="form-control"
            id="college_name"
            name="college_name"
            value="{{user.extendeduser.college}}"
            required
          />
          {% else %}
          <input
            type="text"
            class="form-control"
            id="college_name"
            name="college_name"
            required
          />
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row my-2">
      <div class="form-group col-md-6">
        <label for="phone_no">Phone No.</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fas fa-phone-alt"></i>
          </div>
          {% if user.extendeduser.college %}
          <input
            type="tel"
            class="form-control"
            id="phone_no"
            name="phone_no"
            value="{{user.extendeduser.contact}}"
            onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
            maxlength="10"
            minlength="10"
            title="Ten digits code"
            required
          />
          <!-- <input type="text" class="form-control" id="phone_no" name="phone_no" value="{{user.extendeduser.contact}}" maxlength="10" required /> -->
          {% else %}
          <input
            type="tel"
            class="form-control"
            id="phone_no"
            name="phone_no"
            onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
            maxlength="10"
            minlength="10"
            title="Ten digits code"
            required
          />
          {% endif %}
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="city">City</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fas fa-city"></i>
          </div>
          {% if user.extendeduser.city %}
          <input
            type="text"
            class="form-control"
            id="city"
            name="city"
            value="{{user.extendeduser.city}}"
            required
          />
          {% else %}
          <input
            type="text"
            class="form-control"
            id="city"
            name="city"
            required
          />
          {% endif %}
        </div>
      </div>
    </div>
    <div class="row my-2">
      <div class="form-group col-md-6">
        <label for="gender">Gender</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fas fa-venus-mars"></i>
          </div>
          <select id="gender" class="form-control" name="gender">
            <option selected value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
            <option value="NotSay">Prefer not to say</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          {% if user.extendeduser.isProfileCompleted == True %}
          <div class="form-group col-md-12">
            <label for="current_year">Current Year</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fas fa-calendar-plus"></i>
              </div>
              <select id="current_year" class="form-control" name="current_year">
                <option selected value="1">1st Year</option>
                <option value="2">2nd Year</option>
                <option value="3">3rd Year</option>
                <option value="4">4th Year</option>
                <option value="5">5th Year</option>
                <option value="6">Graduated</option>
                <option value="7">Faculty/Staff</option>
                <option value="8">NA</option>
              </select>
            </div>
          </div>
          {% else %}
          <div class="form-group col-md-6">
            <label for="current_year">Current Year</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="far fa-calendar-plus"></i>
              </div>
              <select id="current_year" class="form-control" name="current_year">
                <option selected value="1">1st Year</option>
                <option value="2">2nd Year</option>
                <option value="3">3rd Year</option>
                <option value="4">4th Year</option>
                <option value="5">5th Year</option>
                <option value="6">Graduated</option>
                <option value="7">Faculty/Staff</option>
                <option value="8">NA</option>
              </select>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="referral_code">Referral Code(Optional)</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fas fa-code"></i>
              </div>
              <input
                type="text"
                class="form-control"
                id="referral_code"
                name="referral_code"
              />
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mb-2 px-4" style="margin-top: 5px;">Save</button>
  </form>
  <a style="margin-top: 20px;" href="{% url 'account_change_password' %}">Change Password?</a>
</div>

</div>

{% endblock %} {% block scripts %}
<!-- import js files or write js code-->

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>

<script>
  $(
    `select[id='current_year'] option[value={{user.extendeduser.current_year}}]`
  ).attr("selected", true);
  $(`select[id='gender'] option[value={{user.extendeduser.gender}}]`).attr(
    "selected",
    true
  );
</script>
{% endblock %}
