{% extends 'base.html' %} {% load static %} {% block title %} Schedule
{%endblock %} {% block head_links %}
<!-- header links -->
{% endblock %} {% block style %}
<link href="{% static 'css/schedule.css' %}" rel="stylesheet" />
{% endblock %} {% block content %}
<!-- ======= Schedule Section ======= -->
<section id="schedule" class="section-with-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-header" data-aos="fade-in">
      <h2>Event Schedule</h2>
    </div>
    <p style="text-align: center;
      font-size: 25px;
      color: white;
      font-weight: 600; 
      margin-bottom: 25px;"><i class="far fa-calendar-alt" style="color: #49fcff; margin-right: 5px"></i> 26th Feb - 1st Mar</p>
      {% if schedule_file %}
        <p data-aos="fade-in" data-aos-delay="500" data-aos-duration="500" data-aos-once = "true" style="font-size: x-large; color: white; text-align: center; margin-bottom: 40px">
          <a 
            href="{{schedule_file.file.url}}" 
            style="color: #2b2d2e;
            font-size: medium;
            background: #ffffff;
            padding: 10px;
            border-radius: 5px;
            border: 3px solid #47b2e4;">
              <i class="fas fa-download"></i> {{schedule_file.name}}
          </a>
        </p>
      {% endif %}
    <ul
      class="nav nav-tabs"
      role="tablist"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <li class="nav-item">
        <a class="nav-link active" href="#day-1" role="tab" data-bs-toggle="tab"
          >26th Feb</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#day-2" role="tab" data-bs-toggle="tab"
          >27th Feb</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#day-3" role="tab" data-bs-toggle="tab"
          >28th Feb</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#day-4" role="tab" data-bs-toggle="tab"
          >1st Mar</a
        >
      </li>
    </ul>
    <div
      class="tab-content row justify-content-center"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      <!-- Schdule Day 1 -->
      <div
        role="tabpanel"
        class="col-lg-9 tab-pane fade show active"
        id="day-1"
      >
        {% if day1.count == 0 %}
          <p data-aos="fade-up" data-aos-delay="1000" data-aos-duration="2000" data-aos-once = "true" style="font-size: xx-large; color: white; text-align: center;">Coming Soon!</p>
        {% else %}
          <div class="row schedule-item schedule-item-head" style="background: #002050;">
            <div class="col-md-4 schedule-data">
              <h4 style="color: #49fcff; text-align: center;">Time</h4>
            </div>
            <div class="col-md-4 schedule-data">
              <h4 style="color: #49fcff; text-align: center;">Event Name</h4>
            </div>
            <div class="col-md-4 schedule-data">
              <h4 style="color: #49fcff; text-align: center;">Venue</h4>
            </div>
          </div>
        {% endif %}
        {% for event in day1 %}
        <div class="row schedule-item">
          <div class="col-md-4 schedule-data">
            <p style="text-align: center;">
                {% if event.date == event.end_date %}
                  <time>{{ event.time }} - {{ event.end_time }}</time>
                {% else %}
                  {{event.date|date:"N j"}} | <time>{{ event.time }}</time> <br> to <br> {{event.end_date|date:"N j"}} | <time>{{ event.end_time }}
                {% endif %}
              </p>
          </div>
          <div class="col-md-4 schedule-data" style="margin: auto !important;">
            <h4 style="color: #ffffff; text-align: center;">{{event.name}}</h4>
          </div>
          <div class="col-md-4 schedule-data" style="margin: auto !important;">
            {% if 'Audi 1' in event.venue %}
              <a href='https://prometeo.samaaro.com/lobby/auditorium' ><span><p style="text-align: center; color: #29bbff;">{{event.venue}} <i class="fa fa-external-link" style="padding:5px;"></i></p></span></a>
            {% elif 'Audi 2' in event.venue %}
            <a href='https://prometeo.samaaro.com/lobby/auditorium2'><span><p style="text-align: center;  color: #29bbff;">{{event.venue}}<i class="fa fa-external-link" style="padding:5px;"></i></p></span></a>
            {% elif 'Panel' in event.venue %}
            <a href='https://prometeo.samaaro.com/lobby/networking'><span><p style="text-align: center;  color: #29bbff;">{{event.venue}}<i class="fa fa-external-link" style="padding:5px;"></i></p></span></a>
            {% elif event.venue != None %}
            <span><p style="text-align: center;">{{event.venue}}</p></span>
            {% else %}
              <span><p style="text-align: center;"> - </p></span>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- End Schdule Day 1 -->

      <!-- Schdule Day 2 -->
      <div
        role="tabpanel"
        class="col-lg-9 tab-pane fade"
        id="day-2"
      >
        {% if day2.count == 0 %}
          <p data-aos="fade-up" data-aos-delay="1000" data-aos-duration="2000" data-aos-once = "true" style="font-size: xx-large; color: white; text-align: center;">Coming Soon!</p>
        {% else %}
          <div class="row schedule-item" style="background: #002050;">
            <div class="col-md-4 schedule-data schedule-item-head">
              <h4 style="color: #49fcff; text-align: center;">Time</h4>
            </div>
            <div class="col-md-4 schedule-data">
              <h4 style="color: #49fcff; text-align: center;">Event Name</h4>
            </div>
            <div class="col-md-4 schedule-data">
              <h4 style="color: #49fcff; text-align: center;">Venue</h4>
            </div>
          </div>
        {% endif %}
        {% for event in day2 %}
        <div class="row schedule-item">
          <div class="col-md-4 schedule-data">
            <p style="text-align: center;">
                {% if event.date == event.end_date %}
                  <time>{{ event.time }} - {{ event.end_time }}</time>
                {% else %}
                  {{event.date|date:"N j"}} | <time>{{ event.time }}</time> <br> to <br> {{event.end_date|date:"N j"}} | <time>{{ event.end_time }}
                {% endif %}
              </p>
          </div>
          <div class="col-md-4 schedule-data" style="margin: auto !important;">
            <h4 style="color: #ffffff; text-align: center;">{{event.name}}</h4>
          </div>
          <div class="col-md-4 schedule-data" style="margin: auto !important;">
            {% if event.venue != none %}
              <span><p style="text-align: center;"><i class="bi bi-geo-alt-fill"></i> {{event.venue}}</p></span>
            {% else %}
              <span><p style="text-align: center;"> - </p></span>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- End Schdule Day 2 -->

      <!-- Schdule Day 3 -->
      <div
        role="tabpanel"
        class="col-lg-9 tab-pane fade"
        id="day-3"
      >
        {% if day3.count == 0 %}
          <p data-aos="fade-up" data-aos-delay="1000" data-aos-duration="2000" data-aos-once = "true" style="font-size: xx-large; color: white; text-align: center;">Coming Soon!</p>
        {% else %}
          <div class="row schedule-item" style="background: #002050;">
            <div class="col-md-4 schedule-data schedule-item-head">
              <h4 style="color: #49fcff; text-align: center;">Time</h4>
            </div>
            <div class="col-md-4 schedule-data">
              <h4 style="color: #49fcff; text-align: center;">Event Name</h4>
            </div>
            <div class="col-md-4 schedule-data">
              <h4 style="color: #49fcff; text-align: center;">Venue</h4>
            </div>
          </div>
        {% endif %}
        {% for event in day3 %}
        <div class="row schedule-item">
          <div class="col-md-4 schedule-data">
            <p style="text-align: center;">
                {% if event.date == event.end_date %}
                  <time>{{ event.time }} - {{ event.end_time }}</time>
                {% else %}
                  {{event.date|date:"N j"}} | <time>{{ event.time }}</time> <br> to <br> {{event.end_date|date:"N j"}} | <time>{{ event.end_time }}
                {% endif %}
              </p>
          </div>
          <div class="col-md-4 schedule-data" style="margin: auto !important;">
            <h4 style="color: #ffffff; text-align: center;">{{event.name}}</h4>
          </div>
          <div class="col-md-4 schedule-data" style="margin: auto !important;">
            {% if event.venue != none %}
              <span><p style="text-align: center;"><i class="bi bi-geo-alt-fill"></i> {{event.venue}}</p></span>
            {% else %}
              <span><p style="text-align: center;"> - </p></span>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- End Schdule Day 3 -->

      <!-- Schdule Day 4 -->
      <div
        role="tabpanel"
        class="col-lg-9 tab-pane fade"
        id="day-4"
      >
        {% if day4.count == 0 %}
          <p data-aos="fade-up" data-aos-delay="1000" data-aos-duration="2000" data-aos-once = "true" style="font-size: xx-large; color: white; text-align: center;">Coming Soon!</p>
        {% else %}
        <div class="row schedule-item" style="background: #002050;">
          <div class="col-md-4 schedule-data schedule-item-head">
            <h4 style="color: #49fcff; text-align: center;">Time</h4>
          </div>
          <div class="col-md-4 schedule-data">
            <h4 style="color: #49fcff; text-align: center;">Event Name</h4>
          </div>
          <div class="col-md-4 schedule-data">
            <h4 style="color: #49fcff; text-align: center;">Venue</h4>
          </div>
        </div>
        {% endif %}
        {% for event in day4 %}
        <div class="row schedule-item">
          <div class="col-md-4 schedule-data">
            <p style="text-align: center;">
                {% if event.date == event.end_date %}
                  <time>{{ event.time }} - {{ event.end_time }}</time>
                {% else %}
                  {{event.date|date:"N j"}} | <time>{{ event.time }}</time> <br> to <br> {{event.end_date|date:"N j"}} | <time>{{ event.end_time }}
                {% endif %}
              </p>
          </div>
          <div class="col-md-4 schedule-data" style="margin: auto !important;">
            <h4 style="color: #ffffff; text-align: center;">{{event.name}}</h4>
          </div>
          <div class="col-md-4 schedule-data" style="margin: auto !important;">
            {% if event.venue != none %}
              <span><p style="text-align: center;"><i class="bi bi-geo-alt-fill"></i> {{event.venue}}</p></span>
            {% else %}
              <span><p style="text-align: center;"> - </p></span>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- End Schdule Day 4 -->
    </div>
  </div>
</section>
<!-- End Schedule Section -->
{% endblock %} {% block scripts %} {% endblock %}
