{% extends 'template.html' %}
{% load static %}

{% block title %}
{{type|capfirst}} Events
{% endblock %}


{% block style %}
<!-- import css files or write css code-->
<link href="{% static 'css/speakers.css' %}" rel="stylesheet">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

{% endblock %}




{% block content %}
<section class="dark">
	<div class="container py-4">
        <div style="margin-top: 20px; margin-bottom: 30px; width:100%; background-attachment: fixed;align-items: center; 
        justify-content: center; display:flex">
            <div class="section-header">
                <h2>Speakers</h2>
            </div>
        </div>
        {% if brochure %}
            <p data-aos="fade-in" data-aos-delay="500" data-aos-duration="500" data-aos-once = "true" style="font-size: x-large; color: white; text-align: center; margin-bottom: 40px"><a href="{{brochure.file.url}}" style="color: #2b2d2e;
                font-size: medium;
                background: #ffffff;
                padding: 10px;
                border-radius: 5px;
                border: 3px solid #47b2e4;"><i class="fas fa-download"></i> {{brochure.name}}</a></p>
        {% endif %}
        {% if events.count == 0 %}
            <p data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000" data-aos-once = "true" style="font-size: xx-large; color: white; text-align: center;">Coming Soon!</p>
        {% endif %}
        {% for event in events %}
            {% if event.type|title == 'Talk' %}
            <article class="postcard dark blue" data-aos="fade-up">
                <a class="postcard__img_link">
                    <img class="postcard__img" src="{{event.image.url}}" alt="Image Title" />
                {% if event.rank == -8080 %}
                    <div class="image_footer" data-aos="fade-up" data-aos-duration="1000" data-aos-once = "true" >Chief Guest in opening ceremony</div>
                {% endif %}
                </a>
                
                <div class="postcard__text">
                    <h1 class="postcard__title blue">{{event.speaker}}</h1>
                    {% if event.designation %}
                    <div class="postcard__subtitle small">
                        <time datetime="2020-05-25 12:00:00">
                            <!-- <i class="fas fa-calendar-alt mr-2"></i> -->
                            {{ event.designation }}
                        </time>
                    </div>
                    {% endif %}
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">{{event.description}}</div>
                    <ul class="postcard__tagbox">
                        {% if event.date|date:"N j, Y" == "Jan. 1, 2023" %}
                        <li class="tag__item"><i class="fas fa-calendar-alt mr-2"></i> Coming Soon</li>
                        {% else %}
                        <li class="tag__item"><i class="fas fa-calendar-alt mr-2"></i>  {{ event.date }} <b>|</b> {{event.time}}</li>
                        {% endif %}
                        {% if event.meet_link %}
                        <a href="{{ event.meet_link }}">
                            <li class="tag__item play blue"><i class="fas fa-video mr-2"></i> Join</li>
                        </a>
                        {% endif %}
                        {% if event.webx_link %}
                        <a href="{{ event.webx_link }}">
                            <li class="tag__item play blue"><i class="fas fa-video mr-2"></i> Join</li>
                        </a>
                        {% endif %}
                        {% if event.youtube_link %}
                        <a href="{{ event.youtube_link }}">
                            <li class="tag__item play blue"><i class="fas fa-video mr-2"></i> Join</li>
                        </a>
                        {% endif %}

                        {% if event in user.extendeduser.events.all %}
                            <li class="tag__item"><i class="fas fa-edit mr-2"></i> Already Registered</li>
                        {% else %}
                            <a href="/users/register_indi_event/{{event.id}}">
                                <li style="cursor: pointer;" class="tag__item play blue"><i class="fas fa-edit mr-2"></i> Register</li>
                            </a>
                        {% endif %}
                    </ul>
                </div>
            </article>
            {% endif %}
        {% endfor %}
        <!-- {% if events.count < 5 %}
            <p data-aos="fade-up" data-aos-delay="500" data-aos-duration="500" data-aos-once = "true" style="font-size: xx-large; color: white; text-align: center; margin-top: 30px; margin-bottom: 10px;">More Speakers Coming Soon...</p>
        {% endif %} -->
	</div>
</section>

{% endblock %}


{% block scripts %}
<!-- <script src="{% static 'js/main.js' %}"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
{% endblock %}