{% extends 'template.html' %}
{% load static %}

{% block title %}
{{type}} Events
{% endblock %}


{% block style %}
<!-- import css files or write css code-->
<link href="{% static 'css/speakers.css' %}" rel="stylesheet">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

{% endblock %}




{% block content %}
<section class="dark">
	<div class="container py-4">
        <div style="margin-top: 20px; margin-bottom: 30px; width:100%; background-attachment: fixed;align-items: center; 
        justify-content: center; display:flex">
            <div class="section-header">
                <h2>Speakers</h2>
            </div>
        </div>
        {% for event in events %}
            {% if event.type|title == 'Talk' %}
            <article class="postcard dark blue">
                <a class="postcard__img_link" href="#">
                    <img class="postcard__img" src="{{event.image.url}}" alt="Image Title" />
                </a>
                <div class="postcard__text">
                    <h1 class="postcard__title blue">{{event.speaker}}</h1>
                    {% if event.designation %}
                    <div class="postcard__subtitle small">
                        <time datetime="2020-05-25 12:00:00">
                            <!-- <i class="fas fa-calendar-alt mr-2"></i> -->
                            {{ event.designation }}
                        </time>
                    </div>
                    {% endif %}
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">{{event.description}}</div>
                    <ul class="postcard__tagbox">
                        <li class="tag__item"><i class="fas fa-calendar-alt mr-2"></i>  {{ event.date }}</li>
                        {% if event.meet_link %}
                        <a href="{{ event.meet_link }}">
                            <li class="tag__item play blue"><i class="fas fa-video mr-2"></i> Join</li>
                        </a>
                        {% endif %}
                        {% if event.webx_link %}
                        <a href="{{ event.webx_link }}">
                            <li class="tag__item play blue"><i class="fas fa-video mr-2"></i> Join</li>
                        </a>
                        {% endif %}
                        {% if event.youtube_link %}
                        <a href="{{ event.youtube_link }}">
                            <li class="tag__item play blue"><i class="fas fa-video mr-2"></i> Join</li>
                        </a>
                        {% endif %}
                        {% if event.external_link %}
                        <a href="{{ event.external_link }}">
                            <li class="tag__item play blue"><i class="fas fa-edit mr-2"></i> Register</li>
                        </a>
                        {% endif %}
                    </ul>
                </div>
            </article>
            {% endif %}
        {% endfor %}
	</div>
</section>

{% endblock %}


{% block scripts %}
<script src="{% static 'js/main.js' %}"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
{% endblock %}