{% extends 'base.html' %} {% load static %} {% block title %}
Theme
{% endblock %} {% block head_links %}
<!-- header links -->
{% endblock %} {% block style %}
<!-- import css files or write css code-->
<link rel="stylesheet" href="{% static 'css/theme.css' %}" />
{% endblock %} {% block content %}
<!-- write your code here -->
<div>
  <div class="IndiaTheme">
    <h1>Here India Theme</h1>
  </div>
  <div class="contentDiv">
    <div class="content">
      <h1>INTRODUCTION</h1>
      <div class="row mt-2">
        <div style="padding: 0px 25px;" class="col-xl-6 mb-3">
          <p style="margin: auto;">
            Each of us has a vision of what the future of technology holds. Each of us
            envisions a smart India which holds great potential in every field of
            development. The theme of Prometeo 2022 is designed on the same ideology
            of creating a New India by virtue of expanding the technical and
            economical orbit. There are vast horizons for us to touch still, and by
            the 3 Is: Innovate-Implement-Improve, we will soon walk past those
            horizons! The heart of Prometeo this year is to develop and present ideas
            of what the technological and economical face of India would look like
            starting from the 2030s to the 2050s. Could India lead the world? Could
            India become a technological giant? Could India be the force behind the
            biggest global projects? All these questions have answers lying behind our
            participation, our ideas and our dedication. We invite you to put your
            best foot forward to present and experience the India of our vision with
            Prometeo’22!
          </p>
        </div>
        <div style="padding: 0px 25px;" class="col-xl-6 mb-3">
          <div class="video-box d-flex justify-content-center">
            <video style="width: 100%; height: 100%;" src="{% static 'img/video1.mp4' %}" controls
                            poster="{% static 'img/videothumbnail.png' %}" style="vertical-align: middle;"></video>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<!-- import js files or write js code-->
{% endblock %}
