{% extends 'base.html' %} {% load static %} {% block title %}
Theme
{% endblock %} {% block head_links %}
<!-- header links -->
{% endblock %} {% block style %}
<!-- import css files or write css code-->
<link rel="stylesheet" href="{% static 'css/theme.css' %}" />
{% endblock %} {% block content %}
<!-- write your code here -->
<div class="mainWrapper">
<div>
  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="row">
      <section class="page">
        <div class="container">
          <div class="circle-carousel" data-speed="2000" data-autoplay="2500">
            <div class="slides">
              <div class="slide">
                <h2>
                  Broadband Highways
                </h2>
              </div>
              <div class="slide">
                <h2>Universal Access to Mobile Connectivity</h2>
              </div>
              <div class="slide">
                <h2>Public Internet Access Programme</h2>
              </div>
              <div class="slide">
                <h2>
                  Reforming Government through Technology</h2>
              </div>
              <div class="slide">
                <h2>Electronic delivery of services</h2>
              </div>
              <div class="slide">
                <h2>Electronics Manufacturing</h2>
              </div>
              <div class="slide">
                <h2>
                  Information for All
                </h2>
              </div>
              <div class="slide">
                <h2>IT for Jobs</h2>
              </div>
              <div class="slide">
                <h2>
                  Early Harvest Programmes</h2>
              </div>
            </div>
            <div class="pagination">
              <div class="item">
                <div class="dot">
                  <span 
                    style="
                      background: url('../static/img/wifi.png');
                      background-size: contain;
                      background-repeat: no-repeat;
                      background-position: center;
                      width:70%;
                      height:70%;">
                    </span>
                </div>
              </div>
              <div class="item">
                <div class="dot">
                  <span 
                    style="
                      background: url('../static/img/public_internet.png');
                      background-size: contain;
                      background-repeat: no-repeat;
                      background-position: center;
                      width:65%;
                      height:65%;">
                    </span>
                </div>
              </div>
              <div class="item">
                <div class="dot">
                  <span 
                    style="
                      background: url('../static/img/internet.png');
                      background-size: contain;
                      background-repeat: no-repeat;
                      background-position: center;
                      width:70%;
                      height:70%;">
                    </span>
                </div>
              </div>
              <div class="item">
                <div class="dot">
                  <span 
                    style="
                      background: url('../static/img/government.png');
                      background-size: contain;
                      background-repeat: no-repeat;
                      background-position: center;
                      width:65%;
                      height:65%;">
                    </span>
                </div>
              </div>
              <div class="item">
                <div class="dot">
                  <span 
                    style="
                      background: url('../static/img/touch-control.png');
                      background-size: contain;
                      background-repeat: no-repeat;
                      background-position: center;
                      width:70%;
                      height:70%;">
                    </span>
                </div>
              </div>
              <div class="item">
                <div class="dot">
                  <span 
                    style="
                      background: url('../static/img/conveyor.png');
                      background-size: contain;
                      background-repeat: no-repeat;
                      background-position: center;
                      width:65%;
                      height:65%;">
                    </span>
                </div>
              </div>
              <div class="item">
                <div class="dot">
                  <span 
                    style="
                      background: url('../static/img/database-storage.png');
                      background-size: contain;
                      background-repeat: no-repeat;
                      background-position: center;
                      width:65%;
                      height:65%;">
                    </span>
                </div>
              </div>
              <div class="item">
                <div class="dot">
                  <span 
                    style="
                      background: url('../static/img/job.png');
                      background-size: contain;
                      background-repeat: no-repeat;
                      background-position: center;
                      width:65%;
                      height:65%;">
                    </span>
                </div>
              </div>
              <div class="item">
                <div class="dot">
                  <span 
                    style="
                      background: url('../static/img/building.png');
                      background-size: contain;
                      background-repeat: no-repeat;
                      background-position: center;
                      width:65%;
                      height:65%;">
                    </span>
                </div>
              </div>
            </div>
          </div>
      </section>
    </div>
  </div>
  </section><!-- End Features Section -->
  <div class="contentDiv">
    <div class="content">
      <div class="row mt-2">
        <div style="padding: 0px 25px;" class="col-xl-6 mb-3">
          <p style="margin: auto;">
            Each of us has a vision of what the future of technology holds. Each of us
            envisions a smart India which holds great potential in every field of
            development. 
            The theme of Prometeo 2022 is designed on the same ideology
            of creating a New India by virtue of expanding the technical and
            economical orbit. There are vast horizons for us to touch still, and by
            the 3 <b>I</b>s: <b>I</b>nnovate-<b>I</b>mplement-<b>I</b>mprove, we will soon walk past those
            horizons!
            The heart of Prometeo this year is to develop and present ideas
            of what the technological and economical face of India would look like
            starting from the 2030s to the 2050s. Could India lead the world? Could
            India become a technological giant? Could India be the force behind the
            biggest global projects? All these questions have answers lying behind our
            participation, our ideas and our dedication. <br>We invite you to put your
            best foot forward to present and experience the India of our vision with
            Prometeo'22!
          </p>
        </div>
        <div style="padding: 0px 25px; align-self: center;" class="col-xl-6 mb-3">
          <div class="video-box d-flex justify-content-center">
            <div class=theme-video-container>
              <iframe class="responsive-iframe" src="https://www.youtube.com/embed/8lOSuBvGfjo"></iframe>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
{% endblock %} {% block scripts %}
<!-- import js files or write js code-->
<script src="{% static 'js/orbit.js' %}"></script>
{% endblock %}
