body{
background-color: rgb(235, 235, 235);
bottom:0vh
}

.btn-learn-more {
    width: fit-content;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    
    align-content: center;
   
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.3s;
    line-height: 1;
    color: #47b2e4;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 12px;
    border: 2px solid #47b2e4;
  }
  .btn-learn-more:hover {
    background: #47b2e4;
    color: #fff;
    text-decoration: none;
  }



.card{
  transition: 0.1s
}
.card:hover{
  transform: scale(1.01);
}

.page-header{
 
  
  text-transform: uppercase;
  text-shadow: 5px 5px 2px rgb(0, 0, 0)
 
}
#card{
  transition: 0.2s;
}
#card:hover{
  transform: scale(1.01);
}

.pageheadbg-Technical{
  height: 60vh;
  width:100%; 
  background-image:url('/static/img/technicaleventsbg.png');
  background-attachment: fixed;
  align-items: center; 
  justify-content: center; 
  display:flex
}

.pageheadbg-Informal{
  height: 60vh;
  background-image:url('/static/img/generalheaderbg.jpg');
  background-attachment: fixed;
}

.pageheadbg-Live{
  height: 70vh;
  background-image:url('/static/img/liveeventbg.jpg');
  background-attachment: fixed;
  /* background-repeat: no-repeat; */
  background-size: cover;
}
.pageheadbg-Workshop{
  height: 70vh;
  background-image:url('/static/img/workshopbg.jpg');
  background-attachment: fixed;
  /* background-repeat: no-repeat; */
  background-size: cover;
  position: relative;
  background-position-y: top;
}

